
  <nav class="navbar navbar-expand-lg navbar-light bg-light  rtl farsi">
  <a class="navbar-brand" href="{{current_app.url}}" title="{{current_app.title}}"><img src="{{current_app.logo}}"
      width="40" alt="">

    {{current_app.title}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      {% if perms.core.add_parameter %}
        
      <li class="nav-item">
        <a class="nav-link text-right" href="{% url 'utility:settings' %}">تنظیمات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-right" href="{{ADMIN_URL}}{{APP_NAME}}/">ادمین</a>
      </li>
      {% endif %}

      

      
       

 
      {% include "core/includes/common-navbar.html" %}
  
      {% if clipboard_items %}
      {% include "authentication/includes/clipboard-items-app/template.html" %}
        
      {% endif %}
 

      
      {% if my_links %}
      {% include "authentication/includes/my-links-app/template.html" %}
        
      {% endif %}
 
      
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'core:search' %}">
      {% csrf_token %}
      <input  value="{{APP_NAME}}" type="hidden" name="app_name">
      <input class="form-control mr-sm-2"  style="border-radius: 0 0.5rem 0.5rem 0 !important;" value="{{search_for}}" type="search" name="search_for" placeholder="جستجو ..." aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit" style="border-radius: 0.5rem 0 0 0.5rem !important;">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> -->
        <!-- جستجو -->
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</nav>