{% extends "authentication/layout.html" %} 

{% load static %}
{% block style %}
<style>
  body{
    background-color:#b4b8cafa;

  }
  </style>
{% endblock style %}
{% block content %} 

<div class="row rtl">
  <div class="col-md-3"></div>
  <div class="col-md-6 px-4 py-4">
    <div class="card farsi" id="change-password-app">
      
      <img src="{% static 'authentication/img/change_password.jpg' %}" width="100%" alt="">
      <div class="card-body text-right">
        <h5 class="text-center">تغییر دادن کلمه عبور</h5>
        <div class="row rtl">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">نام کاربری</label>
              <input v-model="username" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">کلمه عبور فعلی</label>
              <input
                v-model="old_password"
                type="password"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">کلمه عبور جدید</label>
              <input
                v-model="new_password"
                type="password"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">تکرار کلمه عبور جدید</label>
              <input
                v-model="new_password2"
                type="password"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-12">
            <button
              @click="change_password()"
              class="btn btn-success btn-block"
            >
            <i class="fa fa-key"></i>
              تایید
            </button>
          </div>

          <div class="col-md-12 py-3">
            {% include "utility/includes/message-app/alert.html" %}
          </div>
          <div class="col-md-12">
            <div class="text-center farsi">
              <a href="{% url 'core:index' %}">
                <i class="fa fa-home"></i>
                خانه</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>

{% endblock content %} {% block script %}

<script>
  let change_password_app = new Vue({
    el: "#change-password-app",
    data: {
      username: "{{username}}",
      old_password: "",
      new_password: "",
      new_password2: "",
      message: { show: false },
      waiting: false,
    },
    methods: {
      change_password: function () {
        if(this.new_password==""){
          show_message(
              change_password_app,
              "خطا",
              'کلمه عبور جدید را وارد کنید.',
              "danger",
              5000
            );
            return
        }

        if(this.username==""){
          show_message(
              change_password_app,
              "خطا",
              'نام کاربری را وارد کنید.',
              "danger",
              5000
            );
            return
        }

        
        if(this.new_password!=this.new_password2){
          show_message(
              change_password_app,
              "خطا",
              'کلمه های عبور جدید را یکسان وارد کنید.',
              "danger",
              5000
            );
            return
        }
        if(this.new_password.length<6){
          show_message(change_password_app,'خطا','کلمه عبور جدید باید حداقل 6 حرف یا عدد باشد.','danger',3000)
          return
        }
        let payload = {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          username: this.username,
          old_password: this.old_password,
          new_password: this.new_password,
          new_password2: this.new_password2,
        };
        console.log(payload);
        let url = "{% url 'authentication:change_password' %}";
        $.post(url, payload).done((data) => {
          console.log(data);
          if (data.result === "SUCCEED") {
            show_message(
              change_password_app,
              "موفق",
              data.message,
              "success",
              5000
            );
            setTimeout(() => {
            location.href = data.person.get_absolute_url
              
            }, 1500);
          }
          if (data.result != "SUCCEED") {
            show_message(
              change_password_app,
              "خطا",
              data.message,
              "danger",
              5000
            );
          }
        });
      },
    },
  });
</script>
{% endblock script %}
