{% load static %}
<div id="accordion-anbar-products" class="rtl text-right farsi">
  <div class="card" id="anbar-products-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-anbar-products"
          aria-expanded="true"
          aria-controls="collapse-anbar-products"
        >
            گزارشات انبار


        <span v-if="anbar_products.length>0">
            <small class="text-danger mx-2">
              <span v-text="anbar_products.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-anbar-products"
      class="collapse {% if expand_anbar_products %} show {% endif %}"
      aria-labelledby="heading-anbar-products"
      data-parent="#accordion-anbar-products"
    >
      <div class="card-body card-dark">
        <div class="table-responsive">
          <table class="table {% if DARK_THEME %}table-dark {% endif %}table-striped table-dark">
            <thead>
              <th>تاریخ</th>
              {% if not vehicle %}

              <th>دستگاه</th>
              {% endif %}
              <th>قطعه</th>
              <th>تعداد</th>
              <th>توضیحات</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="anbar_product in anbar_products">
                <td>
                  <span v-text="anbar_product.persian_shift_date"></span>
                  <div class="text-muted">
                    شیفت
                    <span v-text="anbar_product.shift"></span> 
                  </div>
                </td>
                {% if not vehicle %}

                <td>
                  <a :href="anbar_product.vehicle.get_absolute_url">
                    <div class="media">
                      <img class="rounded"
                        :src="anbar_product.vehicle.thumbnail"
                        width="48"
                        alt=""
                      />
                      <div class="media-body mr-2">
                        <div>
                          <span v-text="anbar_product.vehicle.title"></span>
                        </div>
                        <div>
                          <span v-text="anbar_product.vehicle.vehicle_code"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </td>
                {% endif %}

                <td>

                             <span
                      v-text="anbar_product.name"
                    ></span> 
                        
                   
                  </a>

                
                </td>

                <td>
                  
                      <span v-text="anbar_product.quantity"></span>
                     
                </td>

                <td>
                   
                    <span v-text="anbar_product.description"></span>
                   
                </td>
 
          
               
                <td>
                  <a
                    target="_blank"
                    :href="anbar_product.get_absolute_url"
                    title="نمایش"
                    class="text-info mx-2"
                  >
                    <i class="fa fa-edit text-info"> </i>
                    نمایش
                  </a>

                  <a
                    target="_blank"
                    :href="anbar_product.get_edit_url"
                    title="ویرایش"
                    class="text-warning mx-2"
                  >
                    <i class="fa fa-edit text-warning"> </i>
                    ویرایش
                  </a>

                  <a
                    target="_blank"
                    :href="anbar_product.get_delete_url"
                    title="حذف"
                    class="text-danger mx-2"
                  >
                    <i class="fa fa-trash text-danger"> </i>
                    حذف
                  </a>
                </td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
