{% load static %} {% load to_persian_date %} {% load to_price %} {% load account_code_seperator %} 
{% load to_price_color_btn %}

<div class="card rtl text-right">
  <div class="card-header">
    <h5 class="text-center">حساب بانکی</h5>
  </div>
  <div class="card-body">
    <div class="text-center">
      <img src="{{account.thumbnail}}" width="64" alt="" />
    </div>

    <h5 class="text-center mt-2">
      {{account.name}}
      <span class="badge badge-{{account.color}}">{{account.type}}</span>
    </h5>
    <h6>
      <small class="text-muted"> تاریخ ایجاد : </small>
      {{page.date_added|to_persian_datetime|safe}}
    </h6>

    <div>
      <small class="text-muted">شخص : </small>
      <a href="{{bank_account.person.get_absolute_url}}">
        {{bank_account.person.full_name}}
      </a>
    </div>

    <h5 class="text-center mt-4">
      <small class="text-muted"> کد : </small>
      {{account.code}}
    </h5>

    <h5 class="text-center mt-4">
      <small class="text-muted"> مانده : </small>
      {{account.balance|to_price_color|safe}}
    </h5>
  </div>
</div>

<div class="card rtl text-right">
  <div class="card-header">
    <h5 class="text-center">حساب بانکی</h5>
  </div>
  <div class="card-body">
    {% if account.parent %}
    <div>{{account.parent.get_breadcrumb_link|safe}}</div>
    {% endif %}
    <div class="mt-2" id="account-code-app">
      <h5 class="ltr" @click="copy_code()" style="cursor: pointer">
        <span class="ltr"> {{account.code | account_code_seperator|safe}} </span>
      </h5>
    </div>
    <div>
      <h3>
        {{account.name}}
        <span class="badge badge-{{account.color}}">{{account.type}}</span>
      </h3>
    </div>
    <div class="my-2">
      <a href="{% url 'accounting:tree_chart' pk=account.id %}" target="_blank">
        <img
          src="{% static 'accounting/img/tree-chart.png' %}"
          width="32"
          alt=""
        />
        نمودار درختی</a
      >
    </div>
    <div>
      {% if perms.accounting.change_account %}
      <a
        href="{{account.get_edit_url}}"
        class="my-2 text-warning mx-2"
        title="ویرایش"
        target="_blank"
      >
        <i class="fa fa-edit text-warning"></i> ویرایش
      </a>
      {% endif %} {% if perms.accounting.delete_account %}
      <a
        href="{{account.get_delete_url}}"
        class="my-2 text-danger mx-2"
        title="حذف"
        target="_blank"
      >
        <i class="fa fa-trash text-danger"></i> حذف
      </a>
      {% endif %}
    </div>
    <div id="bank-account-app">
      {% if SHOW_BALANCE %}
        
    <div>
      <small class="text-muted">مانده : </small>
      {{account.balance }}
    </div>
      <div>
        <small class="text-muted">مانده : </small>
        {{account.balance|to_price_color_btn|safe}}
        <small class="text-muted" v-show="show_balance_copied">کپی شد.</small>
      </div>

      
      {% endif %}
      <div>
        <small class="text-muted">شخص : </small>
        <a href="{{person_account.person.get_absolute_url}}">
          {{person_account.person.full_name}}
        </a>
      </div>
      <div>
        <small class="text-muted">سطح : </small>
        {{account.level}}
      </div>
      {% if person %}
      <div>
        <small class="text-muted">شخص : </small>
        <a href="{{person.get_absolute_url}}"> {{person.full_name}} </a>
      </div>
      {% endif %}
      <div>
        <small class="text-muted">نوع : </small>
        {{account.type}}
      </div>
      <div>
        <small class="text-muted">ماهیت : </small>
        {{account.nature}}
      </div>
     
     
     {% if account_no %}
       
     <div>
       <btn
       class="btn btn-info my-2 btn-block"
       @click="copy_account_no_to_clipboard(`{{bank_account.account_no}}`)"
       >
       شماره حساب : {{bank_account.account_no}}
      </btn>
    </div>
    {% endif %}
      {% if bank_account.card_no %}
        
      <div>
        <btn
        class="btn btn-danger my-2 btn-block"
        @click="copy_card_no_to_clipboard(`{{bank_account.card_no}}`)"
        >
        کارت : {{bank_account.card_no}}
      </btn>
    </div>
    {% endif %}
     {% if bank_account.shaba_no %}
       
     <div>
       <btn
       class="btn btn-success my-2 btn-block"
       @click="copy_shaba_no_to_clipboard(`{{bank_account.shaba_no}}`)"
       >
       شبا : {{bank_account.shaba_no}}
      </btn>
    </div>
    {% endif %}
     
     


      <div>
        <btn
          class="btn btn-warning my-2 btn-block"
          @click="copy_all_to_clipboard()"
        >
  کپی همه 

</btn>
      </div>


    </div>

    <div class="my-3">
      {% include "core/includes/page-priority-app/template.html" %}
    </div>
  </div>
</div>
