<div id="accordion-add-oiling" class="rtl text-right farsi">
  <div class="card" id="add-vehicle-status-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-oiling"
          aria-expanded="true"
          aria-controls="collapse-add-oiling"
        >
          افزودن وضعیت دستگاه
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-oiling"
      class="collapse"
      aria-labelledby="heading-add-oiling"
      data-parent="#accordion-add-oiling"
    >
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">عنوان</label>
              <input v-model="title" type="text" class="form-control" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="">کیلومتر  
                <span v-text="separate(kilometer)"></span>
              </label>
              <input v-model="kilometer" type="number" class="form-control" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="">ساعت  
                <span v-text="separate(hour)"></span>
              </label>
              <input v-model="hour" type="number" class="form-control" />
            </div>
          </div>

          
                

          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputDate">تاریخ</label>
              <date-picker v-model="event_date"></date-picker>

              <input
                type="text"
                required
                class="form-control"
                v-model="event_date"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputDate">زمان</label>

              <input
                type="text"
                required
                class="form-control"
                v-model="event_time"
              />
            </div>
          </div>

          
          <div class="col-md-12">
            <div class="form-group">
              <label for="">توضیحات</label>
              <input v-model="description" type="text" class="form-control" />
            </div>
          </div>


          <div class="col-12">
            <button class="btn btn-success" @click="add_vehicle_status()">
              افزودن
            </button>
          </div>
         


          <div class="col-md-12">

            <div class="mx-3 my-3">
              {% include "utility/includes/message.html" %}
            </div>
          </div>
 
         
        </div>
      </div>
    </div>
  </div>
</div>
