<div class="card" id="invoice-card-app">
  {% load to_price %}
  <div class="card-header">
    <h5>
      فاکتور
  

    </h5>
  </div>
  <div class="card-body">
    <div>
    <a class="btn btn-info mb-2" href="{% url 'accounting:invoice_print' pk=invoice.id%}" target="_blank">
      <i class="fa fa-print"></i>
      چاپ </a>

</div>

    {% include 'accounting/includes/financial-event-app/card-contents.html' %}
    {% for project in invoice.project_set.all %}
    <h5>
      <small class="text-muted">
        پروژه
      </small>
      <a target="_blank" href="{{project.get_absolute_url}}" class="text-info mx-2">

        {{project.title}}
      </a>
     
    </h5>
    {% endfor %}




    {% for maintenance in invoice.maintenance_set.all %}
    <h5>
      <small class="text-muted">
        تعمیر و نگهداری
      </small>
      <a target="_blank" href="{{maintenance.get_absolute_url}}" class="text-info mx-2">

        {{maintenance.title}}
      </a>
     
    </h5>
    {% endfor %}
    
    {% if edit_invoice_form %}
      
    <a class="text-info mx-2" href="{% url 'accounting:invoice_edit' pk=invoice.id%}"> تغییر </a>
    {% endif %}

    <a class="text-info mx-2" href="{% url 'accounting:invoice_estelam' pk=invoice.id%}"> استعلام </a>
    <a class="text-info mx-2" href="{% url 'accounting:invoice_print' pk=invoice.id%}"> چاپ </a>
    <a class="text-info mx-2" href="{% url 'accounting:invoice_official_print' pk=invoice.id%}"> چاپ رسمی </a>

    <a class="text-success mx-2" href="{% url 'accounting:invoice_to_excel' pk=invoice.id%}"> اکسل </a>

    {% if make_financial_event_draft_form %}
      <form action="{% url 'accounting:make_financial_event_draft' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{financial_event.id}}" name="financial_event_id">
        <button class="btn btn-link" type="submit" >
          پیش نویس کن
        </button>
      </form>
    {% endif %}

  </div>
</div>