{% extends "bms/layout.html" %} {% block content %}
{% load static %}
<div class="row rtl">
  <div class="col-6">
    <div id="accordion-import-data" class="rtl text-right farsi">
      <div id="import-data-from-json-app" class="card">
        <div class="card-header">
          <h5 class="text-center">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapse-import-data"
              aria-expanded="true"
              aria-controls="collapse-import-data"
            >
              بازیابی دیتا از فایل json
            </button>
          </h5>
        </div>

        <div
          id="collapse-import-data"
          class="collapse"
          aria-labelledby="heading-import-data"
          data-parent="#accordion-import-data"
        >
          <div class="card-body">
            <div class="my-2">
              <a
                target="_blank"
                href="{% url 'bms:get_json_backup' %}"
                class="btn btn-info"
              >
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                دانلود فایل json</a
              >
            </div>
            <p class="text-right">بازیابی از فایل json</p>
            <form
              id="import-data-from-json-form"
              @submit.prevent="import_data()"
              enctype="multipart/form-data"
            >
              <div class="row">
                <div class="col-12">
                  <span class="btn btn-raised btn-round btn-default btn-file">
                    <span class="fileinput-new farsi">انتخاب فایل</span>

                    <input type="file" name="" />
                    <div class="ripple-container"></div>
                  </span>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-check-label mr-4" for="flexCheckChecked">
                      تعداد
                    </label>
                    <input v-model="count" class="form-control" type="number" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-check">
                    <input
                      v-model="is_open"
                      class="form-check-input"
                      type="checkbox"
                      id="flexCheckChecked"
                    />
                    <label class="form-check-label mr-4" for="flexCheckChecked">
                      دسترسی آزاد برای همه
                    </label>
                  </div>
                </div>

                <div class="col-12">
                  <img
                    src="{% static 'leo/img/loading.gif' %}"
                    width="32"
                    v-if="waiting"
                    alt=""
                  />

                  <button
                    class="farsi btn btn-primary btn-block"
                    v-if="!waiting"
                    type="submit"
                  >
                    <i class="fa fa-plus mx-1"></i>
                    بازیابی
                  </button>
                </div>

                <div class="col-md-12 my-2">
                  <div
                    :class="'alert alert-'+message.color"
                    v-if="message.show"
                  >
                    <div class="my-2">
                      <h4 v-html="message.title" class="my-2"></h4>
                      <div v-html="message.body" class="my-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
  <div class="card">
    <div class="card-body">
      <a href="{% url 'bms:get_json_backup' %}" target="_blank" class="btn btn-info">
        <i class="fa fa-download"></i>
        دانلود بکاپ
      </a>
    </div>
  </div>
  </div>
</div>
{% endblock content %} {% block script %} 
<script>
    let url_import_from_json = "{% url 'bms:import_from_json' %}"
    let import_from_json_app = new Vue({
        el: "#import-data-from-json-app",
        data: {
            waiting: false,
            new_download_file: '',
            count:1000,
            is_open: false,
            message:{show:false},
        },
        methods: {
            import_data: function () {
                import_from_json_app.waiting = true
                let title = this.new_download_title
                let formData = new FormData();
                let file1 = $('#import-data-from-json-form')[0].elements[0].files[0]
                formData.append("file1", file1);
                formData.append("is_open", import_from_json_app.is_open);
                formData.append("count", import_from_json_app.count);
                formData.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
                $.ajax({
                    url: url_import_from_json,
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        import_from_json_app.waiting = false

                        if (data != 0) {
                            console.log(data)
                            if (data.result === 'SUCCEED') { 
                                show_message(import_from_json_app,"موفقیت آمیز",data.message,"success",10000)   
                                
                            }
                            if (data.result != 'SUCCEED') { 
                                show_message(import_from_json_app,"خطا",data.message,"danger",10000)   

                            }
                        }
                        else {
                        }
                    },
                });

            },

        }
    })
</script>

{% endblock script %}
