{% load to_persian_date %}
<div class="row rtl mt-5">
  {% for blog in blogs %}
  <div class="col-md-4 col-6">
    <div class="card">
       <a href="{{blog.get_absolute_url}}"> 
        
         <img src="{{blog.thumbnail}}" width="100%" alt="">
          
        </a>
      <h5 class="text-right">
        <a href="{{blog.get_absolute_url}}"> {{blog.title}} 
          
        </a>
      </h5>
      <h6 class="text-right">
        {{blog.start_date|to_persian_datetime|safe}}
        ~
        {{blog.end_date|to_persian_datetime|safe}}
      </h6>
    </div>
  </div>
  {% endfor %}
</div>
