<div class="footer-content">
  <div class="w-layout-blockcontainer container-default w-container">
    <div class="footer-top-v1">
      <div class="flex-horizontal-wrap space-between gap-col-162px-row-medium">
        <div class="align-self-top">
          <div class="inner-container _370px">
            <h2
              data-w-id="18c59fa8-e610-894a-cf33-1b5d07d075c5"
              class="display-8 mid mg-bottom-2x-extra-small"
            >
              Discover the new era of robotic technology
            </h2>
            <div
              data-w-id="18c59fa8-e610-894a-cf33-1b5d07d075c7"
              class="social-media-flex"
            >
              <a
                id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075c8-07d075bf"
                href="https://www.facebook.com/"
                target="_blank"
                class="social-media-icon-wrapper w-inline-block"
                ><div class="icon-font-social-media"></div></a
              ><a
                id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075cb-07d075bf"
                href="https://www.x.com/"
                target="_blank"
                class="social-media-icon-wrapper w-inline-block"
                ><div class="icon-font-social-media"></div></a
              ><a
                id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075ce-07d075bf"
                href="https://www.linkedin.com/"
                target="_blank"
                class="social-media-icon-wrapper w-inline-block"
                ><div class="icon-font-social-media"></div></a
              >
            </div>
          </div>
        </div>
        <div class="inner-container _670px _100-tablet">
          <div class="footer-nav">
            <div data-w-id="18c59fa8-e610-894a-cf33-1b5d07d075d3">
              <div
                class="text-uppercase mg-bottom-large mg-bottom-small-tablet"
              >
                <div class="display-1 strong">Main pages</div>
              </div>
              <div class="w-layout-grid nav-grid _2-column-mbp">
                <ul role="list" class="list-wrapper">
                  <li>
                    <a
                      href="/"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075da-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Preview</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'blog:index' %}"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075de-07d075bf"
                      aria-current="page"
                      class="link mid w-inline-block w--current"
                      ><div>Home V1</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/home-pages/home-v2"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075e2-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Home V2</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/home-pages/home-v3"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075e6-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Home V3</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/company-pages/about"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075ea-07d075bf"
                      class="link mid w-inline-block"
                      ><div>About</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/blog-pages/blog-v1"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075ee-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Blog V1</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/blog-pages/blog-v2"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075f2-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Blog V2</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/blog-pages/blog-v3"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075f6-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Blog V3</div></a
                    >
                  </li>
                </ul>
                <ul role="list" class="list-wrapper">
                  <li>
                    <a
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075fb-07d075bf"
                      href="/blog-posts/what-you-should-know-about-the-future-of-humanoid-robots"
                      class="link mid w-inline-block"
                      ><div>Blog post</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/contact-pages/contact-v1"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d075ff-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Contact V1</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/contact-pages/contact-v2"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07603-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Contact V2</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/contact-pages/contact-v3"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07607-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Contact V3</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/company-pages/products"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0760b-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Products</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/company-pages/faqs"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07613-07d075bf"
                      class="link mid w-inline-block"
                      ><div>FAQs</div></a
                    >
                  </li>
                </ul>
                <ul
                  id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07616-07d075bf"
                  role="list"
                  class="list-wrapper"
                >
                  <li>
                    <a
                      href="/landing-pages/newsletter"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07618-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Newsletter</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/landing-pages/coming-soon"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0761c-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Coming soon</div></a
                    >
                  </li>
                  <li>
                    <a
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07620-07d075bf"
                      href="https://www.brixtemplates.com/more-webflow-templates"
                      target="_blank"
                      class="link white mid w-inline-block"
                      ><div>More Webflow Templates</div></a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div data-w-id="18c59fa8-e610-894a-cf33-1b5d07d07623">
              <div
                class="text-uppercase mg-bottom-large mg-bottom-small-tablet"
              >
                <div class="display-1 strong">Utility pages</div>
              </div>
              <div class="w-layout-grid nav-grid _1-column">
                <ul role="list" class="list-wrapper">
                  <li>
                    <a
                      href="/template-pages/start-here"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0762a-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Start here</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'blog:styles-and-components' %}"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0762e-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Style guide</div></a
                    >
                  </li>
                  <li>
                    <a
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07632-07d075bf"
                      href="/404"
                      class="link mid w-inline-block"
                      ><div>404 not found</div></a
                    >
                  </li>
                  <li>
                    <a
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d07636-07d075bf"
                      href="/401"
                      class="link mid w-inline-block"
                      ><div>Password protected</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/template-pages/licenses"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0763a-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Licenses</div></a
                    >
                  </li>
                  <li>
                    <a
                      href="/template-pages/changelog"
                      id="w-node-_18c59fa8-e610-894a-cf33-1b5d07d0763e-07d075bf"
                      class="link mid w-inline-block"
                      ><div>Changelog</div></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle-v1">
      <div class="inner-container _100-mbl _334px">
        <p data-w-id="18c59fa8-e610-894a-cf33-1b5d07d07643">
          Lorem ipsum dolor sit amet consectetur vel pharetra nulla a varius ac
          cras et est nec elementum ut facilisi tortor mi duis non.
        </p>
      </div>
      <div
        data-w-id="18c59fa8-e610-894a-cf33-1b5d07d07645"
        class="align-self-bottom"
      >
        <a
          href="mailto:contact@robotflow.com"
          class="link white mid w-inline-block"
          ><div class="display-7 display-5-mbl">contact@robotflow.com</div></a
        >
      </div>
    </div>
    <div class="divider"></div>
    <div
      data-w-id="18c59fa8-e610-894a-cf33-1b5d07d0764a"
      class="footer-bottom-v1"
    >
      <a
        href="{% url 'blog:index' %}"
        aria-current="page"
        class="logo-wrapper w-inline-block w--current"
        ><div data-wf--logo-full--variant="text-white">
          <img
            width="196"
            height="35"
            alt="Logo Light Mode Robotflow Webflow Template | BRIX Template"
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/6972aef676c9afbb4aa14a2b_logo-light-mode-robotflow-webflow-template.svg"
            class="logo-light-mode w-variant-ae8bfe0d-cf00-2a86-3e9a-585fba4fb9a1"
          /><img
            width="196"
            height="35"
            alt="Logo Dark Mode Robotflow Webflow Template | BRIX Template"
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/6972aecc458da4b4dcab5fec_logo-dark-mode-robotflow-webflow-template.svg"
            class="logo-dark-mode w-variant-ae8bfe0d-cf00-2a86-3e9a-585fba4fb9a1"
          /></div
      ></a>
      <p>
        Copyright © ROCCE 2026 | Designed by
        <a href="https://dikoo24.ir/blog/" target="_blank" class="link white"
          >Hossein Moghimi</a
        >
        - Powered by
        <a href="https://www.webflow.com/" target="_blank" class="link white"
          >Webflow</a
        >
      </p>
    </div>
  </div>
</div>
