<div style="direction: rtl !important;"
  data-w-id="5572ee73-8791-09f5-45f4-fd1833f2cdbc"
  class="header-container-wrapper"
>
  <div class="nav-menu-left-side growth-tablet">
    <a
      href="{% url 'blog:index' %}"
      aria-current="page"
      class="logo-wrapper header-2 w-inline-block w--current"
      ><div data-wf--logo-icon--variant="icon-white">
        <img
          src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/6972aef676c9afbb4aa14a2c_icon-light-mode-robotflow-webflow-template.svg"
          loading="eager"
          alt="Icon Light Mode Robotflow Webflow Template | BRIX Template"
          class="logo-light-mode w-variant-4447ed53-f340-ad2e-e7e2-a6d987ce5104"
        /><img
          src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/6972aecc458da4b4dcab5fed_icon-dark-mode-robotflow-webflow-template.svg"
          loading="eager"
          alt="Icon Dark Mode Robotflow Webflow Template | BRIX Template"
          class="logo-dark-mode w-variant-4447ed53-f340-ad2e-e7e2-a6d987ce5104"
        /></div
    ></a>
    <div class="flex-horizontal gap-small mg-left-auto-tablet">
      <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
        <ul role="list" class="list-nav-menu">
          <li class="link-nav-item">
            <a
              href="{% url 'blog:index' %}"
              aria-current="page"
              class="link white w-inline-block w--current"
              ><div>Home</div></a
            >
          </li>
          <li class="link-nav-item">
            <a
              href="{% url 'blog:about_us' %}"
              id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdc8-33f2cdba"
              class="link white mid w-inline-block"
              ><div class="link-content-flex">
                <div>About</div>
              </div></a
            >
          </li>
          <li class="link-nav-item">
            <div
              data-delay="0"
              data-hover="true"
              data-w-id="5572ee73-8791-09f5-45f4-fd1833f2cdd3"
              class="dropdown-wrapper dropdown-default w-dropdown"
            >
              <div class="dropdown-toggle w-dropdown-toggle">
                <div>Pages</div>
                <div class="icon-font-rounded dropdown-arrow"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <div class="dropdown-card-wrapper">
                  <div>
                    <div
                      class="text-uppercase mg-bottom-large mg-bottom-xsm-tablet"
                    >
                      <div class="display-1 strong">Main pages</div>
                    </div>
                    <div class="w-layout-grid nav-grid _2-column-mbp">
                      <ul role="list" class="list-wrapper">
                        <li>
                          <a
                            href="/"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cde2-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Preview</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:index' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cde6-33f2cdba"
                            aria-current="page"
                            class="link mid w-inline-block w--current"
                            ><div>Home V1</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:index' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdea-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Home V2</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:index' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdee-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Home V3</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:about_us' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdf2-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>About</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/blog-pages/blog-v1"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdf6-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Blog V1</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/blog-pages/blog-v2"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdfa-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Blog V2</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/blog-pages/blog-v3"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2cdfe-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Blog V3</div></a
                          >
                        </li>
                      </ul>
                      <ul role="list" class="list-wrapper">
                        <li>
                          <a
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce03-33f2cdba"
                            href="/blog-posts/what-you-should-know-about-the-future-of-humanoid-robots"
                            class="link mid w-inline-block"
                            ><div>Blog post</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:contact_us' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce07-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Contact V1</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/contact-pages/contact-v2"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce0b-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Contact V2</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/contact-pages/contact-v3"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce0f-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Contact V3</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/company-pages/products"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce13-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Products</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/company-pages/faqs"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce17-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>FAQs</div></a
                          >
                        </li>
                      </ul>
                      <ul role="list" class="list-wrapper">
                        <li>
                          <a
                            href="/landing-pages/newsletter"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce1c-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Newsletter</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/landing-pages/coming-soon"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce20-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Coming soon</div></a
                          >
                        </li>
                        <li>
                          <a
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce24-33f2cdba"
                            href="https://www.brixtemplates.com/more-webflow-templates"
                            target="_blank"
                            class="link white mid w-inline-block"
                            ><div>More Webflow Templates</div></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <div
                      class="text-uppercase mg-bottom-large mg-bottom-xsm-tablet"
                    >
                      <div class="display-1 strong">Utility pages</div>
                    </div>
                    <div class="w-layout-grid nav-grid _1-column">
                      <ul role="list" class="list-wrapper">
                        <li>
                          <a
                            href="/template-pages/start-here"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce2e-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Start here</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="{% url 'blog:styles-and-components' %}"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce32-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Style guide</div></a
                          >
                        </li>
                        <li>
                          <a
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce36-33f2cdba"
                            href="/404"
                            class="link mid w-inline-block"
                            ><div>404 not found</div></a
                          >
                        </li>
                        <li>
                          <a
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce3a-33f2cdba"
                            href="/401"
                            class="link mid w-inline-block"
                            ><div>Password protected</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/template-pages/licenses"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce3e-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Licenses</div></a
                          >
                        </li>
                        <li>
                          <a
                            href="/template-pages/changelog"
                            id="w-node-_5572ee73-8791-09f5-45f4-fd1833f2ce42-33f2cdba"
                            class="link mid w-inline-block"
                            ><div>Changelog</div></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </li>
          <li class="show-on-mbp link-nav-item">
            <div class="flex">
              <a
                id="w-node-c8af9126-ffb1-d0cd-ff72-7ac4d9d06565-d9d06565"
                data-w-id="c8af9126-ffb1-d0cd-ff72-7ac4d9d06565"
                href="/company-pages/products"
                class="primary-button w-inline-block"
                ><div>Reserve now</div>
                <div class="primary-button-bg">
                  <div class="primary-button-bg-text">Reserve now</div>
                </div></a
              >
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="nav-menu-right-side">
    <div class="hidden-on-mobile-portrait">
      <a
        id="w-node-c8af9126-ffb1-d0cd-ff72-7ac4d9d06565-d9d06565"
        data-w-id="c8af9126-ffb1-d0cd-ff72-7ac4d9d06565"
        href="/company-pages/products"
        class="primary-button w-inline-block"
        ><div>Reserve now</div>
        <div class="primary-button-bg">
          <div class="primary-button-bg-text">Reserve now</div>
        </div></a
      >
    </div>
    <div class="hamburger-menu w-nav-button">
      <div class="hamburger-menu-flex">
        <div class="hamburger-menu-line top"></div>
        <div class="hamburger-menu-line bottom"></div>
      </div>
    </div>
  </div>
</div>
