                <div class="nav-menu-right-side">
                <div class="hidden-on-mobile-portrait">
                    <a
                    id="w-node-c8af9126-ffb1-d0cd-ff72-7ac4d9d06565-d9d06565"
                    data-w-id="c8af9126-ffb1-d0cd-ff72-7ac4d9d06565"
                    href="/company-pages/products"
                    class="primary-button w-inline-block"
                    ><div>Reserve now</div>
                    <div class="primary-button-bg">
                        <div class="primary-button-bg-text">Reserve now</div>
                    </div></a
                    >
                </div>
                <div class="hamburger-menu w-nav-button">
                    <div class="hamburger-menu-flex">
                    <div class="hamburger-menu-line top"></div>
                    <div class="hamburger-menu-line bottom"></div>
                    </div>
                </div>
                </div>
