{% load to_price %} {% if primary_shop %}
<button class="btn btn-danger">
  هر {{primary_shop.unit_name}} {% if primary_shop.value %}
  <span style="text-decoration: line-through" class="mx-2">
    {% if SHOW_TUMAN %} {{primary_shop.unit_price|to_price_tuman}} {% else %}
    {{primary_shop.unit_price|to_price}} {% endif %}
  </span>
  <span>
    {% if SHOW_TUMAN %} {{primary_shop.value|to_price_tuman}} {% else %}
    {{primary_shop.value|to_price}} {% endif %}
  </span>

  {% else %}
  <span>
    {% if SHOW_TUMAN %} {{primary_shop.unit_price|to_price_tuman}} {% else %}
    {{primary_shop.unit_price|to_price}} {% endif %}
  </span>

  {% endif %} {{CURRENCY}}
</button>
{% else %}
<div class="my-3 Showcase_no_seller__M8XOL">
  این محصول فعلا فروشنده‌ای ندارد
</div>
{% endif %}
