{% load static %}
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'phoenix-theme/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/is/is.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'phoenix-theme/assets/js/phoenix.js' %}"></script>
<script src="{% static 'phoenix-theme/vendors/swiper/swiper-bundle.min.js' %}"></script>
