<div id="accordion-vehicles" class="rtl text-right farsi">
  <div class="card" id="vehicles-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-vehicles"
          aria-expanded="true"
          aria-controls="collapse-vehicles"
        >
          وسایل نقلیه
          <span v-if="vehicles.length>0">
            <small class="text-danger mx-2">
              <span v-text="vehicles.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-vehicles"
      class="collapse {% if expand_vehicles %} show {% endif %}"
      aria-labelledby="heading-vehicles"
      data-parent="#accordion-vehicles"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>وسیله نقلیه</th>
              <th>مالک</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="vehicle in vehicles">
                <td>
                 <div class="media">
                    <a :href="vehicle.get_absolute_url">
                      <img :src="vehicle.thumbnail" width="32" class="rounded-circle" alt="">
                    </a>
                    <div class="media-body mr-2">
                      <a :href="vehicle.get_absolute_url">
                        <span v-text="vehicle.title"></span>
                      </a>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="media">
                    <a :href="vehicle.owner.get_absolute_url">
                      <img :src="vehicle.owner.thumbnail" width="48" class="rounded-circle" alt="">
                    </a>
                    <div class="media-body mr-2">
                      <a :href="vehicle.owner.get_absolute_url">
                        <h6 v-text="vehicle.owner.name"></h6>
                        <h6 v-text="vehicle.owner.code"></h6>
                      </a>
                    </div>
                  </div>
                </td>

                <td>
                  <a
                    target="_blank"
                    :href="vehicle.get_edit_url"
                    title="ویرایش"
                    class="text-warning mx-2"
                  >
                    <i class="fa fa-edit text-warning"> </i>
                    ویرایش
                  </a>
                  <a
                    target="_blank"
                    :href="vehicle.get_delete_url"
                    title="حذف"
                    class="text-danger mx-2"
                  >
                    <i class="fa fa-trash text-danger"> </i>
                    حذف
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
