{% include "accounting/includes/account-app/select-script.html" %}
<script>
  let add_table_app = new Vue({
    el: "#add-table-app",
    data: {
    title: "",
    table_no:0,
    supplier_id: 0,
    event_date: current_date,
    event_time: "00:00:00",
    event_datetime: current_datetime,
    message:{show:false},
      
    },

    components: {
      DatePicker: VuePersianDatetimePicker,
    },
    methods: {
      

      swap: function () {
        let bed = add_table_app.bedehkar;
        let bes = add_table_app.bestankar;
        add_table_app.bedehkar = bes;
        add_table_app.bestankar = bed;
      },
      to_price_colored: function (vall) {
        let colorr = "primary";
        if (vall > 0) {
          colorr = "success";
        }

        if (vall < 0) {
          colorr = "danger";
        }

        return `<span class="text-${colorr}">${to_price(
          vall
        )} {{CURRENCY}}</span>`;
      },

      to_price: function (vall) {
        return to_price(vall) + " {{CURRENCY}}";
      },

      
      add_table: function () {
        let payload = {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          title: this.title,
          supplier_id: parseInt(add_table_app.supplier_id),
          table_no: this.table_no,
        };

        console.log(payload);
        let url = "{% url 'cafe:add_table' %}";
        let posting = $.post(url, payload);
        posting.done((data) => {
          console.log(data);
          if (data.result === "SUCCEED") {
            if (typeof tables_app != "undefined") {
              tables_app.tables.push(data.table);
            }
          }
        });
      },
    },
  });
</script>
