<div id="accordion-add-table" class="rtl text-right farsi">
  <div class="card" id="add-table-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-table"
          aria-expanded="true"
          aria-controls="collapse-add-table"
        >
        افزودن میز          
        </button>
      </h5>
    </div>
       <div
      id="collapse-add-table"
      class="collapse {% if expand_add_table %} show {% endif %}"
      aria-labelledby="heading-add-table"
      data-parent="#accordion-add-table"
    >
    <div class="card-body">
      <form @submit.prevent="add_table()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">عنوان</label>
              <input v-model="title" type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">شماره میز</label>
              <input v-model="table_no" type="number" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputDate">
                  فروشنده

<span class="mx-2">

  <a target="_blank" href="{% url 'market:suppliers' %}">
    <small>
      
      همه فروشنده ها
    </small>
    
  </a>
</span>
                </label>
                 
                <select size="1"
                  type="text"
                  required
                  class="form-control"
                  v-model="supplier_id"
                >
                {% for supplier in suppliers %}
                  <option value="{{supplier.id}}">{{supplier.person_account.title}}</option>
                {% endfor %}
                </select>


              </div>
              

            </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputDate">تاریخ</label>
              <date-picker v-model="event_date"></date-picker>

              <input
                type="text"
                required
                class="form-control"
                v-model="event_date"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputDate">زمان</label>

              <input
                type="text"
                required
                class="form-control"
                v-model="event_time"
              />
            </div>
          </div>


          
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputDate">کد</label>

              <input
                type="text"
                required
                class="form-control"
                v-model="code"
              />
            </div>
          </div>

          <div class="col-md-4"></div>

          <div class="col-md-12">
            <button class="btn btn-success" type="submit">
              <i class="fa fa-plus"></i>
              افزودن
            </button>
          </div>
          <div class="col-12">
            {% include "utility/includes/message.html" %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
