<div class="row rtl farsi" id="checkout-cart-app">
  <div class="col-md-12">
    <h6 class="text-center">سبد خرید</h6>

    <h6 class="text-center">
      مشتری :
      <a href="{{customer.get_absolute_url}}">
        {{customer.person_account.title}}
      </a>
    </h6>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div v-if="cart_items.length==0">
          <h5>سبد خرید شما خالی می باشد.</h5>
        </div>
        <div class="table-responsive">
          <table class="table rtl">
            <thead>
              <th>ردیف</th>

              <th>شرح کالا</th>

              <th>تعداد</th>
              <th>مبلغ جزء</th>

              <th>جمع</th>
              <th></th>
            </thead>
            <tbody>
              <template v-for="cart_item in cart_items">
                <cart-item-component :cart_item="cart_item">
                </cart-item-component>
              </template>
            </tbody>
            <tfoot>
              <th colspan="3">
 <h6 class="text-left">
                  <small class="text-muted">

                   تخفیف:
                  </small>
                  <span class="text-success" v-text="discount_total()"></span>
                </h6>
              </th>
              <th>
                <h6 class="text-left">
                  <small class="text-muted">

                    جمع کل :
                  </small>
                </h6>
              </th>

              <th>
                <span v-text="cart_total()"></span>
                <small class="text-muted"> {{CURRENCY}} </small>
              </th>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" v-if="cart_items.length>0">
    <div class="card">
      <div class="card-body">
        <div class="row rtl">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">آدرس</label>
              <input type="text" class="form-control" v-model="address" />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="">کد پستی</label>
              <input type="text" class="form-control" v-model="postal_code" />
            </div>
          </div>

            <div class="col-md-12">
            <div class="form-group">
              <label for="">توضیحات</label>
              <input type="text" class="form-control" v-model="description" />
            </div>
          </div>

        </div>
        <div class="col-md-12">
          {% include "utility/includes/message-app/alert.html" %}
        </div>
        <button @click="checkout_cart()" class="btn btn-info">checkout</button>
      </div>
    </div>
  </div>
</div>
