.rtl{
    direction: rtl !important;
}

.ltr{
    direction: ltr!important;
}
.farsi{
    font-family: 'farsi';
}
.card{
    text-align: right;
    margin-top: 1em;
}
table{
    direction: rtl;
}



.field_name{
    text-align: left;
    color: #a2a2a2;
    font-size: 0.8rem;
}

.field_value{
    text-align: right;
}
