{% extends "robot/layout.html" %}
{% load static %}


{% block head %}

{% endblock  %}


{% block ofbar %}

{% endblock  %}


{% block content %}
   
      <section class="section content-section-v1">
        <div class="w-layout-blockcontainer container-default w-container">
          <div class="z-index-1">
            <div class="text-center">
              <div class="inner-container _480px center">
                <h2
                  data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dfefc"
                  class="display-8 mid"
                >
                  Visit our showrooms
                </h2>
                <p
                  data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dfefe"
                  class="mg-top-2x-extra-small"
                >
                  Lorem ipsum dolor sit amet consectetur massa dictum fames
                  massa interdum arcu auctor rhoncus leo odio nec neque.
                </p>
              </div>
            </div>
          </div>
          <div
            data-delay="4000"
            data-animation="slide"
            class="slider-wrapper slider-absolute w-slider"
            data-autoplay="false"
            data-easing="ease"
            data-hide-arrows="false"
            data-disable-swipe="false"
            data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dff00"
            data-autoplay-limit="0"
            data-nav-spacing="10"
            data-duration="500"
            data-infinite="true"
          >
            <div class="w-slider-mask">
              <div
                data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dff02"
                class="w-slide"
              >
                <div class="position-relative _w-h-100">
                  <div class="image-wrapper section-border-radius _w-h-100">
                    <img
                      width="1440"
                      height="852"
                      alt=""
                      src="https://cdn.prod.website-files.com/67e6cb2f762ac030b7f2e554/67f051b866cd22fad708909e_new-york-slide-robotflow-webflow-template.jpg"
                      loading="lazy"
                      class="fit-cover _w-h-100 image"
                    />
                    <div class="overlay slide-overlay"></div>
                  </div>
                  <div class="content-inside-image slider-content">
                    <div class="text-center">
                      <div class="inner-container _494px center">
                        <div class="mg-bottom-2x-extra-small">
                          <h3 class="display-6 mid text-titles">
                            New York , NY
                          </h3>
                        </div>
                        <p class="mg-bottom-small">
                          Lorem ipsum dolor sit amet consectetur volutpat
                          vestibulum mattis sed consectetur sociis eu elit purus
                          nunc vitae pretium.
                        </p>
                        <a
                          href="https://maps.google.com/maps"
                          id="w-node-c05a5b1b-edbf-505e-4adb-d81dfe4420d5-fe4420d5"
                          data-w-id="c05a5b1b-edbf-505e-4adb-d81dfe4420d5"
                          target="_blank"
                          class="link white mid w-inline-block"
                          ><div class="link-content-flex">
                            <div>View on Google Maps</div>
                            <div class="item-icon-right">
                              <div class="icon-font-rounded"></div>
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dff11"
                class="w-slide"
              >
                <div class="position-relative _w-h-100">
                  <div class="image-wrapper section-border-radius _w-h-100">
                    <img
                      width="1440"
                      height="852"
                      alt=""
                      src="https://cdn.prod.website-files.com/67e6cb2f762ac030b7f2e554/67f051b8fbf710c4248cc1a1_amsterdam%2C-netherlands-slide-robotflow-webflow-template.jpg"
                      loading="lazy"
                      class="fit-cover _w-h-100 image"
                    />
                    <div class="overlay slide-overlay"></div>
                  </div>
                  <div class="content-inside-image slider-content">
                    <div class="text-center">
                      <div class="inner-container _494px center">
                        <div class="mg-bottom-2x-extra-small">
                          <h3 class="display-6 mid text-titles">
                            Amsterdam, Netherlands
                          </h3>
                        </div>
                        <p class="mg-bottom-small">
                          Lorem ipsum dolor sit amet consectetur volutpat
                          vestibulum mattis sed consectetur sociis eu elit purus
                          nunc vitae pretium.
                        </p>
                        <a
                          href="https://maps.google.com/maps"
                          id="w-node-c05a5b1b-edbf-505e-4adb-d81dfe4420d5-fe4420d5"
                          data-w-id="c05a5b1b-edbf-505e-4adb-d81dfe4420d5"
                          target="_blank"
                          class="link white mid w-inline-block"
                          ><div class="link-content-flex">
                            <div>View on Google Maps</div>
                            <div class="item-icon-right">
                              <div class="icon-font-rounded"></div>
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-w-id="48f3e659-e50c-0fe7-b5be-dc36122dff20"
                class="w-slide"
              >
                <div class="position-relative _w-h-100">
                  <div class="image-wrapper section-border-radius _w-h-100">
                    <img
                      width="1440"
                      height="852"
                      alt=""
                      src="https://cdn.prod.website-files.com/67e6cb2f762ac030b7f2e554/67f051b85776ed33fbbf00bc_tokyo-japan-slide-robotflow-webflow-template.jpg"
                      loading="lazy"
                      class="fit-cover _w-h-100 image"
                    />
                    <div class="overlay slide-overlay"></div>
                  </div>
                  <div class="content-inside-image slider-content">
                    <div class="text-center">
                      <div class="inner-container _494px center">
                        <div class="mg-bottom-2x-extra-small">
                          <h3 class="display-6 mid text-titles">
                            Tokyo, Japan
                          </h3>
                        </div>
                        <p class="mg-bottom-small">
                          Lorem ipsum dolor sit amet consectetur volutpat
                          vestibulum mattis sed consectetur sociis eu elit purus
                          nunc vitae pretium.
                        </p>
                        <a
                          href="https://maps.google.com/maps"
                          id="w-node-c05a5b1b-edbf-505e-4adb-d81dfe4420d5-fe4420d5"
                          data-w-id="c05a5b1b-edbf-505e-4adb-d81dfe4420d5"
                          target="_blank"
                          class="link white mid w-inline-block"
                          ><div class="link-content-flex">
                            <div>View on Google Maps</div>
                            <div class="item-icon-right">
                              <div class="icon-font-rounded"></div>
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-button hidden w-slider-arrow-left">
              <div class="primary-button-icon">
                <div class="icon-font-rounded"></div>
              </div>
            </div>
            <div class="slider-button hidden w-slider-arrow-right">
              <div class="primary-button-icon">
                <div class="icon-font-rounded"></div>
              </div>
            </div>
            <div class="slider-nav alternative w-slider-nav w-round"></div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container-default w-container">
          <div class="w-layout-grid sticky-grid-v2">
            <div class="position-sticky top-24px position-static-mbl">
              <div class="inner-container _334px _100-tablet">
                <h2
                  data-w-id="36962ada-03e2-fdf5-720f-c35191d79d04"
                  class="display-8 mid mg-bottom-4x-extra-small"
                >
                  FAQs
                </h2>
                <div
                  data-w-id="36962ada-03e2-fdf5-720f-c35191d79d08"
                  class="buttons-row left"
                >
                  <a
                    id="w-node-c8af9126-ffb1-d0cd-ff72-7ac4d9d06565-d9d06565"
                    data-w-id="c8af9126-ffb1-d0cd-ff72-7ac4d9d06565"
                    href="/company-pages/products"
                    class="primary-button w-inline-block"
                    ><div>Reserve now</div>
                    <div class="primary-button-bg">
                      <div class="primary-button-bg-text">Reserve now</div>
                    </div></a
                  >
                </div>
              </div>
            </div>
            <div class="grid-1-column gap-2px">
              <div
                data-w-id="7e39c9c7-fd51-fa13-9fd2-0b280e564bf7"
                class="accordion-wrapper _01"
              >
                <div class="accordion-heading">
                  <h3 class="display-5 mid">
                    What everyday home tasks can it handle reliably?
                  </h3>
                  <div class="icon-font-rounded accordion-arrow circle"></div>
                </div>
                <div class="accordion-body v1">
                  <div class="inner-container _526px">
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Diam sed praesent
                      neque duis. A pellentesque orci diam morbi placerat.
                      Consequat tempus interdum sed tristique turpis sapien
                      ullamcorper. Iaculis tellus amet.
                    </p>
                  </div>
                </div>
              </div>
              <div
                data-w-id="7e39c9c7-fd51-fa13-9fd2-0b280e564bf7"
                class="accordion-wrapper _01"
              >
                <div class="accordion-heading">
                  <h3 class="display-5 mid">
                    What tasks can the OmniBot perform?
                  </h3>
                  <div class="icon-font-rounded accordion-arrow circle"></div>
                </div>
                <div class="accordion-body v1">
                  <div class="inner-container _526px">
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Diam sed praesent
                      neque duis. A pellentesque orci diam morbi placerat.
                      Consequat tempus interdum sed tristique turpis sapien
                      ullamcorper. Iaculis tellus amet.
                    </p>
                  </div>
                </div>
              </div>
              <div
                data-w-id="7e39c9c7-fd51-fa13-9fd2-0b280e564bf7"
                class="accordion-wrapper _01"
              >
                <div class="accordion-heading">
                  <h3 class="display-5 mid">
                    How does the OmniBot ensure safety?
                  </h3>
                  <div class="icon-font-rounded accordion-arrow circle"></div>
                </div>
                <div class="accordion-body v1">
                  <div class="inner-container _526px">
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Diam sed praesent
                      neque duis. A pellentesque orci diam morbi placerat.
                      Consequat tempus interdum sed tristique turpis sapien
                      ullamcorper. Iaculis tellus amet.
                    </p>
                  </div>
                </div>
              </div>
              <div
                data-w-id="7e39c9c7-fd51-fa13-9fd2-0b280e564bf7"
                class="accordion-wrapper _01"
              >
                <div class="accordion-heading">
                  <h3 class="display-5 mid">How is the OmniBot powered?</h3>
                  <div class="icon-font-rounded accordion-arrow circle"></div>
                </div>
                <div class="accordion-body v1">
                  <div class="inner-container _526px">
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Diam sed praesent
                      neque duis. A pellentesque orci diam morbi placerat.
                      Consequat tempus interdum sed tristique turpis sapien
                      ullamcorper. Iaculis tellus amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 
{% endblock  %}

{% block alert2 %}
   <div
      data-w-id="9d326ce1-90a1-1a7c-b6aa-4a069582dda0"
      class="brix-badges-wrapper"
    >
      <div
        class="more-templates-lottie"
        data-w-id="9d326ce1-90a1-1a7c-b6aa-4a069582dda1"
        data-animation-type="lottie"
        data-src="https://cdn.prod.website-files.com/5e30f06b05f79621331ddc25/65dcea068e8dfd14eaed7b6f_Notification%20Dot.json"
        data-loop="1"
        data-direction="1"
        data-autoplay="1"
        data-is-ix2-target="0"
        data-renderer="svg"
        data-default-duration="2.5"
        data-duration="0"
        data-loading="eager"
      ></div>
      <a
        href="https://brixtemplates.com/more-webflow-templates-b"
        target="_blank"
        class="more-templates-badge-wrapper w-inline-block"
        ><div class="more-templates-logo-wrapper">
          <img
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/699cb3d0974529f7840caa0a_webflow-logo.png"
            alt=""
            class="more-templates-logo"
          /><img
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/699cb3d0974529f7840caa0a_webflow-logo.png"
            alt=""
            class="more-templates-logo blur"
          />
        </div>
        <div>
          <p class="more-templates-p">
            Explore our collection of 200+
            <span class="more-webflow-templates-sub"
              >Premium Webflow Templates</span
            >
          </p>
        </div></a
      ><a
        href="https://brixtemplates.com/template-customization?utm_source=webflow&amp;utm_medium=template&amp;utm_campaign=badge"
        target="_blank"
        class="more-templates-badge-wrapper customization w-inline-block"
        ><div class="more-templates-logo-wrapper">
          <img
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/699cb3d0974529f7840caa07_customize-your-webflow-template-brix-templates.png"
            alt=""
            class="more-templates-logo customize"
          /><img
            loading="lazy"
            src="https://cdn.prod.website-files.com/697240ea3992ad9c5a02a0d9/699cb3d0974529f7840caa07_customize-your-webflow-template-brix-templates.png"
            alt=""
            class="more-templates-logo blur"
          />
        </div>
        <div>
          <p class="more-templates-p">
            Need to customize this template?
            <span class="more-webflow-templates-sub">Hire our Webflow team</span
            >!
          </p>
        </div></a
      >
      <div class="hidden-code w-embed w-script">
        <style>
          .more-templates-badge-wrapper {
            transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
          }

          .more-templates-badge-wrapper.active {
            opacity: 1;
            transform: translateY(0) scale(1);
            z-index: 9991;
          }

          .more-templates-badge-wrapper.next {
            opacity: 0.4;
            transform: translateY(11px) scale(0.9);
            z-index: 9990;
          }
          .more-templates-badge-wrapper.active:hover {
            transform: translateY(-3px) scale(1.02) translateX(-3px)
              rotate(1deg);
          }
        </style>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const cards = document.querySelectorAll(
              ".more-templates-badge-wrapper",
            );
            let currentIndex = 0;
            const ANIMATION_INTERVAL = 8000; // 8 seconds

            function updateCards() {
              cards.forEach((card, index) => {
                card.classList.remove("active", "next");

                if (index === currentIndex) {
                  card.classList.add("active");
                } else if (index === (currentIndex + 1) % cards.length) {
                  card.classList.add("next");
                }
              });

              currentIndex = (currentIndex + 1) % cards.length;
            }

            // Initial state
            updateCards();

            // Start the loop
            setInterval(updateCards, ANIMATION_INTERVAL);
          });
        </script>
      </div>
    </div>
{% endblock alert2 %}



{% block modal %}

{% endblock  %}



{% block script %} 
{% endblock  %}