<div id="accordion-add-vehicle" class="rtl text-right farsi">
  <div class="card" id="add-vehicle-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-vehicle"
          aria-expanded="true"
          aria-controls="collapse-add-vehicle"
        >
          افزودن وسیله نقلیه
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-vehicle"
      class="collapse"
      aria-labelledby="heading-add-vehicle"
      data-parent="#accordion-add-vehicle"
    >
      <div class="card-body">
        <form @submit.prevent="add_vehicle()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">عنوان</label>
                <input
                  required
                  v-model="title"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">مالک</label>
                <input
                  required
                  v-model="owner_code"
                  type="number"
                  class="form-control"
                  @input="select_owner()"
                />
              </div>
            </div>

            <div class="col-6 mt-3">
              <hr />
              <a :href="owner.get_absolute_url" v-if="owner.name">
                <div class="media">
                  <img :src="owner.thumbnail" width="64" alt="" />
                  <div class="mr-2 media-body">
                    <h5 class="my-2">
                      <span v-text="owner.name"></span>
                    </h5>
                    <h6>
                      <span v-text="owner.code"></span>
                    </h6>

                    

                    <h6>
                      <small v-text="owner.full_name"></small>
                    </h6>
                  </div>
                </div>
              </a>
              <div v-if="!owner.full_name">
                <h5 class="text-danger">مالک انتخاب نشده است.</h5>
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
                افزودن
              </button>
            </div>


             <div class="col-md-12" v-if="message.show">
           <div :class="'alert alert-' + message.color">
            <h5 v-text="message.title">

            </h5>
            <div v-html="message.body">

            </div>
           </div>
          </div>

          
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
