<div id="accordion-add-vehicle" class="rtl text-right farsi">
  <div class="card" id="add-vehicle-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-vehicle"
          aria-expanded="true"
          aria-controls="collapse-add-vehicle"
        >
          افزودن وسیله نقلیه
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-vehicle"
      class="collapse"
      aria-labelledby="heading-add-vehicle"
      data-parent="#accordion-add-vehicle"
    >
      <div class="card-body">
        <form @submit.prevent="add_vehicle()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">عنوان</label>
                <input
                   
                  v-model="title"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">مالک</label>
                <input 
                  v-model="owner_code"
                  type="number"
                  class="form-control"
                  @input="select_owner()"
                />
              </div>
              <a :href="owner.get_absolute_url" v-if="owner.name">
                <div class="media">
                  <img :src="owner.thumbnail" width="64" alt="" />
                  <div class="mr-2 media-body">
                    <h5 class="my-2">
                      <span v-text="owner.name"></span>
                    </h5>
                    <h6>
                      <span v-text="owner.code"></span>
                    </h6>

                    <h6>
                      <small v-text="owner.full_name"></small>
                    </h6>
                  </div>
                </div>
              </a>

              <div v-if="!owner.full_name">
                <h5 class="text-danger">مالک انتخاب نشده است.</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">نوع</label>
                <select v-model="vehicle_type" class="form-control">
                  {% for vehicle_type in vehicle_types %}

                  <option value="{{vehicle_type}}">{{vehicle_type}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

             <div class="col-md-6">
              <div class="form-group">
                <label for="">راننده</label>
                <select v-model="driver_id" class="form-control">
                  <option value="0">بدون راننده</option>
                  {% for driver in drivers %}

                  <option value="{{driver.id}}">{{driver}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">رنگ</label>
                <select v-model="vehicle_color" class="form-control">
                  {% for vehicle_color in vehicle_colors %}

                  <option value="{{vehicle_color}}">{{vehicle_color}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">کد</label>
                <input
                  required
                  v-model="vehicle_code"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-6 mt-3"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">پلاک</label>
                <input
                   
                  v-model="plaque"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">سال</label>
                <input
                   
                  v-model="year"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>


             <div class="col-md-6">
              <div class="form-group">
                <label for="">کیلومتر</label>
                <input
                   
                  v-model="kilometer"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

              <div class="col-md-6">
              <div class="form-group">
                <label for="">قیمت</label>
                <span v-text="to_price(price)"></span> {{CURRENCY}}
                <input
                   
                  v-model="price"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="">برند</label>
                <select v-model="brand_name" class="form-control">
                  {% for brand_name in brand_names %}

                  <option value="{{brand_name}}">{{brand_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">مدل</label>
                <input
                   
                  v-model="model_name"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
                افزودن
              </button>
            </div>

            
            <div class="my-3 mx-3">
              {% include "utility/includes/message.html" %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
