<div class="row rtl" id="products-app">

    <div v-for="product in products" class="col-lg-2 col-md-3 col-4">
        <div class="text-center">
            <a :href="product.get_absolute_url">

                <img :src="product.thumbnail" width="64" alt="">
            </a>
        </div>
        <a :href="product.get_absolute_url">
            <h6 v-text="product.title" class="text-center">

            </h6>
        </a>
    </div>
    {% if add_product_form %}


    <div class="col-md-12 pt-4">
        <form @submit.prevent="add_product()">
            <div class="row rtl">
                <div class="col">

                    <input placeholder="کالای جدید" class="form-control d-inline" required type="text" v-model="new_product_title">
                </div>

                <div class="col-12">
                    <div v-if="message.show" class="my-2 rtl text-right">
                        <div :class="'alert alert-'+message.color">
                            <h5 v-text="message.title">

                            </h5>
                            <div v-html="message.body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

</div>