<div id="accordion-add-bank-account">
  <div class="card" id="add-bank-account-app">
    <div class="card-header" id="heading-add-bank-account">
      <h5 class="text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-add-bank-account"
          aria-expanded="true" aria-controls="collapse-add-bank-account">
          افزودن حساب بانکی
        </button>
      </h5>
    </div>
    <div id="collapse-add-bank-account" class="collapse" aria-labelledby="heading-add-bank-account"
      data-parent="#accordion-add-bank-account">
      <div class="card-body">
        <form @submit.prevent="add_bank_account()">
          <div class="row rtl">
            
            <div class="col-md-6">
              <div class="form-group">
                <label for="">عنوان</label>
                <input type="text" required class="form-control" v-model="title" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">کد</label>
                <input type="text" required class="form-control" v-model="code" />
              </div>
            </div>
 
            <div class="col-md-6">
              <div class="form-group">
                <label for="">شناسه شخص

                  <a href="{% url 'authentication:persons' %}" target="_blank">همه اشخاص</a>
                </label>
                <input type="number" @input="select_person()" required class="form-control" v-model="person_id" />
              </div>

              <div v-if="person.full_name">
                <a :href="person.get_absolute_url">
                  <div class="media">
                    <img :src="person.image" class="rounded-circle" width="48" alt="" />
                    <div class="media-body mr-2">
                      <h6 :class="'text-'+person.color" v-text="person.full_name"></h6>
                    </div>
                  </div>
                </a>
              </div>

            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label for="">رنگ</label>
                <select name="" id="" class="form-control" v-model="color">
                  <option value="success">سبز</option>

                  <option value="secondary">خاکستری</option>

                  <option value="primary">آبی</option>

                  <option value="danger">قرمز</option>

                  <option value="warning">نارنجی</option>

                  <option value="dark">تیره</option>

                  <option value="info">آبی روشن</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="">ماهیت</label>
                <select name="" id="" class="form-control" v-model="nature">
                  {% for nature in account_natures_for_add_bank_account %}
                  <option value="{{nature}}">{{nature}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label for="">بانک</label>
                <select name="" id="" class="form-control" v-model="bank_id">
                  {% for bank in banks_for_add_bank_account %}
                  <option value="{{bank.id}}">{{bank.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>


            <!-- <div class="col-md-3">
              <div class="form-group">
                <label for="">دسته بندی</label>
                <select name="" id="" class="form-control" v-model="person_category_id">
                  {% for person_category in person_categories %}
                  <option value="{{person_category.id}}">
                    {{person_category.title}}
                  </option>
                  {% endfor %}
                </select>
                <a target="_blank" href="{{SITE_URL}}admin/accounting/personcategory/add/">افزودن دسته بندی</a>
                /
                <a target="_blank" href="{% url 'accounting:person_categories' %}"> دسته بندی ها</a>
              </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label for="">اولویت</label>
                <input type="number" required class="form-control" v-model="priority" />
              </div>
            </div>

            

            <div class="col-12"></div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">شماره شبا</label>
                <input type="text" class="form-control" v-model="shaba_no" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">شماره حساب</label>
                <input type="text" class="form-control" v-model="account_no" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">شماره کارت</label>
                <input type="text" class="form-control" v-model="card_no" />
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
                افزودن حساب
              </button>
            </div>

            <div class="col-md-12 mt-2" v-if="message.show">
              <div :class="'alert alert-'+message.color">
                <div class="rtl text-right">
                  <h5 v-html="message.title"></h5>
                  <span v-html="message.body"></span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>