<div id="accordion-services" class="rtl text-right farsi">
  <div class="card" id="services-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-services"
          aria-expanded="true"
          aria-controls="collapse-services"
        >
          خدمات
          <span v-if="services.length>0">
            <small class="text-danger mx-2">
              <span v-text="services.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>
    <div
      id="collapse-services"
      class="collapse"
      aria-labelledby="heading-services"
      data-parent="#accordion-services"
    >
      <div class="card-body">
        <div class="my-2">
          <input
            type="text"
            class="form-control"
            v-model="search_for"
            @input="filter()"
          />
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>نام</th>

             
              <th>قیمت</th>

              <th></th>
            </thead>
            <tbody>
              <tr v-for="service in services">
                <td>
                  <a :href="service.get_absolute_url">
                    <div class="media">
                      <img
                        :src="service.thumbnail"
                        width="48"
                        class="rounded"
                        alt=""
                      />
                      <div class="media-body mr-2">
                        <h5 v-text="service.title"></h5>
                      </div>
                    </div>
                  </a>
                </td>
               

                <td>
                  <h6>
                    هر
                    <span v-text="service.unit_name"> </span>
                    <span v-text="to_price(service.unit_price)"> </span>
                    {{CURRENCY}}
                  </h6>
                </td>

                <td>
                  {% if perms.accounting.change_service %}
                  <a
                    :href="service.get_edit_url"
                    class="my-2 text-warning mx-2"
                    title="ویرایش"
                    target="_blank"
                  >
                    <i class="fa fa-edit text-warning"></i>
                  </a>
                  {% endif %} {% if perms.accounting.delete_service %}
                  <a
                    :href="service.get_delete_url"
                    class="my-2 text-danger mx-2"
                    title="حذف"
                    target="_blank"
                  >
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
