{% extends "transport/layout.html" %} {% block content %}
<div class="row rtl farsi">
  {% if add_work_shift_form %}
  <div class="col-md-12">
    {% include "transport/includes/add-work-shift-app/template.html" %}
  </div>
  <div class="col-12">
    {% include "transport/includes/work-shifts-app/template.html" %} 

  </div>
  {% endif %}
 
</div>
{% endblock content %} {% block script %}
<script></script>
 
{% include "transport/includes/work-shifts-app/script.html" %} 
{% if add_work_shift_form %}
 {% include "transport/includes/add-work-shift-app/script.html" %} 
 {% endif %} 
 {% endblock script %}
