{% extends "transport/layout.html" %}
{% block content %}
<div class="row rtl farsi">
    
   <div class="col-md-4">
        <h5 class="text-center">
            <small class="text-muted">
                تعمیر کار :
            </small>
            {{service_man.person_account.person.full_name}}
        </h5>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header ">
                <h6>
                    <small class="text-muted">
                    تعمیر کار :

                    </small>
                    {{service_man.person_account.person.full_name}}

                </h6>
            </div>
            <div class="card-body">
                <h6>
                    <small class="text-muted">
                    تعمیر کار :

                    </small>
                    {{service_man.person_account.person.full_name}}

                </h6>
                {% if service_man.person_account %}
                <h6>
                    <small class="text-muted">
                    حساب :

                    </small>
                    <a href="{{service_man.person_account.get_absolute_url}}">
                        {{service_man.person_account.name}}
                    </a>
                </h6>
                {% endif %}

                {% if perms.transport.change_service_man %}
                <a href="{{service_man.get_edit_url}}" class="my-2 text-warning mx-2" title="ویرایش" target="_blank">
                    <i class="fa fa-edit text-warning"></i> ویرایش
                </a>
                {% endif %}


                {% if perms.transport.delete_service_man %}
                <a href="{{service_man.get_delete_url}}" class="my-2 text-danger mx-2" title="ویرایش" target="_blank">
                    <i class="fa fa-trash text-danger"></i> حذف
                </a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="col-md-12 ">
        {% include "transport/includes/maintenances-app/template.html" %}
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    
   
    

</script> 

{% include "transport/includes/maintenances-app/script.html" %}
   
 {% endblock script %}