{% extends "transport/layout.html" %} {% block content %}
  <div class="row rtl">
    <div class="col-md-3 text-right my-3">
        <a href="{% url 'transport:new_service' %}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            فرم تعمیر جدید
        </a>
    </div>
    <div class="col-md-12">
        {% include "transport/includes/services-app/template.html" %} 

    </div>
     <div class="col-md-3 text-right my-3">
        <a href="{% url 'transport:new_service' %}" class="btn btn-success">
            <i class="fa fa-plus"></i>
            فرم تعمیر جدید
        </a>
    </div>  
  </div>
{% endblock content %} {% block script %} 
 
{% include "transport/includes/services-app/script.html" %} 

{% endblock script %}
