{% extends "transport/layout.html" %} {% block content %}
{% load static %} {% load to_normal_number %}
{% load to_persian_date %}
<div class="row rtl farsi">
  <div class="col-md-12">
    <h5 class="text-center">شیفت کارکرد ماشین</h5>
  </div>
  <div class="col-lg-4">
    
    {% if perms.transport.delete_work_shift %}
       
    {% include 'transport/includes/work-shift-app/delete.html' %}

        {% endif %}
  </div>

  <div class="col-lg-8">
    
    {% include 'transport/includes/work-shift-app/card.html' %}
  </div>
  <div class="col-md-12">
    {% include "transport/includes/oil-services-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "transport/includes/filter-services-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "transport/includes/tavaghofs-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "transport/includes/products-app/template.html" %}
  </div>
</div>
{% endblock content %} {% block script %}
<script></script>

{% include "transport/includes/oil-services-app/script.html" %}
{% include "transport/includes/filter-services-app/script.html" %}
{% include "transport/includes/tavaghofs-app/script.html" %}
{% include "transport/includes/products-app/script.html" %} 
{% include 'transport/includes/work-shift-app/script.html' %}


{% endblock script %}