{% extends "transport/layout.html" %}
{% load static %}
{% block content %}




<div class="row rtl farsi">

    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'transport:new_work_shift' %}">
            <img src="{% static 'transport/img/work-shift.png' %}" width="64em" class="mb-2" alt="" />
            <h6 class="text-center">شیفت کاری جدید</h6>
        </a>
    </div>


     
  <div class="col-6 col-md-3 col-lg-2 text-center my-3">
    <a href="{% url 'transport:oil_services' %}">
      <img
        src="{% static 'transport/img/oil-service.png' %}"
        width="64em"
        class="mb-2"
        alt=""
      />
      <h6 class="text-center">گزارشات روغن شیفت ها</h6>
    </a>
  </div>


   
  <div class="col-6 col-md-3 col-lg-2 text-center my-3">
    <a href="{% url 'transport:tavaghofs' %}">
      <img
        src="{% static 'transport/img/oil-service.png' %}"
        width="64em"
        class="mb-2"
        alt=""
      />
      <h6 class="text-center">توقف دستگاه ها</h6>
    </a>
  </div>


    <div class="col-md-12">


        {% include "transport/includes/work-shifts-app/template.html" %}
    </div>
    <div class="col-6 col-md-3 col-lg-2 text-center my-3">
        <a href="{% url 'transport:new_work_shift' %}">
            <img src="{% static 'transport/img/work-shift.png' %}" width="64em" class="mb-2" alt="" />
            <h6 class="text-center">شیفت کاری جدید</h6>
        </a>
    </div>
</div>
{% endblock content %}


{% block script %}
{% include "transport/includes/work-shifts-app/script.html" %}

{% endblock script %}