{% extends "blog/layout.html" %}
{% load static %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url(&quot;{{header_image.image}}&quot;); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">{{header_text}}</h2>
                {% if perms.app.change_mainpic %}
                {{header_image.get_edit_btn|safe}}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="main main-raised mb-5" id="blogs-app">
    <div class="container">
        <div class="section" >
 {% include "blog/includes/blogs2-app/template.html" %} 

       </div>
       
    </div>
  
</div>
{% endblock content %}

{% block script %}


{% if DEBUG %}
<script src="{% static 'vendor/js/vue.js' %}"></script>
{% else %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% endif %}



{% include "blog/includes/blogs-app/script.html" %} 


 
 
{% endblock script %}
{% block style %}
<style>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
        {
        opacity: 0;
    }
</style>
{% endblock style %}