{% extends "accounting/layout.html" %}


{% block content %}
    {% if account.parent %} 
    <div class="rtl my-2">{{account.get_breadcrumb|safe}}</div>
    {% endif %} 

<div class="row rtl farsi">
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card.html" %}
    </div>
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card-full.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/accounts-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/financial-document-lines-app/template.html" %}
    </div>


    <div class="col-md-12">
        {% include "accounting/includes/financial-events-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/add-account-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "accounting/includes/set-account-parent-app/template.html" %}
    </div>

    
    <div class="col-md-12">
        {% include "attachments/includes/comments-app/template.html" %}
    </div>
    
    <div class="col-md-12">
        {% include "core/includes/page-description-app/short-description.html" %}
        {% include "core/includes/page-description-app/description.html" %}
   
        
    </div>

    <div class="col-md-4">
        {% include "attachments/includes/links-app/template.html" %}
    </div>

    <div class="col-md-4">
        {% include "attachments/includes/downloads-app/template.html" %}
    </div>

    <div class="col-md-4">
        {% include "attachments/includes/tags-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "attachments/includes/images-app/template.html" %}
    </div>
 

    {% if add_financial_document_line_form %}
    <div class="col-md-12">
        {% include "accounting/includes/add-financial-document-line-app/template.html" %}
    </div>
    {% endif %}

    
     
    {% if set_page_thumbnail_header_form %}
     
    <div class="col-md-12">
        {% include "core/includes/page-thumbnail-header-app/template.html" %}

    </div>
  
    {% endif %}

      {% if logs %}
      
      <div class="col-md-12">
            {% include 'log/includes/logs-app/template.html' %}
      </div>
      {% endif %}

</div>
{% endblock content %}


{% block script %}

{% include "accounting/includes/account-app/script.html" %}
 
      {% if logs %}
       
            {% include 'log/includes/logs-app/script.html' %}
 
      {% endif %}
{% endblock script %}