{% extends "accounting/layout.html" %}
{% block content %}
<div class="row rtl farsi">
     
    {% if add_financial_event_form %}
    <div class="col-md-12">
        {% include "accounting/includes/add-financial-event-app/template.html" %}
    </div>
    {% endif %}
     
    <div class="col-md-12 ">
        {% include "accounting/includes/financial-events-app/template.html" %}
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    
   
    

</script> 

{% include "accounting/includes/financial-events-app/script.html" %}
{% include "accounting/includes/account-app/select-script.html" %}
{% if add_financial_event_form %}
{% include "accounting/includes/add-financial-event-app/script.html" %}
{% endif %}
 
{% endblock script %}