{% extends "accounting/layout.html" %}
{% block content %}
<div class="row rtl farsi">
     
    {% if add_invoice_form %}
    <div class="col-md-12">
        {% include "accounting/includes/add-invoice-app/template.html" %}
    </div>
    {% endif %}
   
    <div class="col-md-12 ">
        {% include "accounting/includes/invoices-app/template.html" %}
    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    
   
    

</script> 

{% include "accounting/includes/invoices-app/script.html" %}

{% if add_invoice_form %}
{% include "accounting/includes/add-invoice-app/script.html" %}
{% endif %}
 
{% endblock script %}