{% extends "accounting/layout.html" %}


{% block content %}
{% if account.parent %} 
<div class="rtl my-2">{{account.parent.get_breadcrumb|safe}}</div>
{% endif %} 
    
<div class="row rtl farsi">
    <div class="col-md-4">
        {% include "accounting/includes/person-account-app/card.html" %}
    </div> 
    <div class="col-md-4">
        {% include "accounting/includes/account-app/card-full.html" %}
    </div>

    

    <div class="col-md-4"> 
        {% include "accounting/includes/person-category-app/card.html" %}

    </div>
    
    {% if add_bank_account_form %}
     
    <div class="col-md-12">
        {% include "accounting/includes/add-bank-account-app/template.html" %}
    </div>
  
    {% endif %}

    <div class="col-md-12">
        {% include "accounting/includes/financial-events-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "accounting/includes/financial-document-lines-app/template.html" %}
    </div>
    <div class="col-md-12">
        {% include "core/includes/page-description-app/short-description.html" %}
        {% include "core/includes/page-description-app/description.html" %}
     
    </div> 


     
    {% if add_financial_document_line_form %}
     
    <div class="col-md-12">
        {% include "accounting/includes/add-financial-document-line-app/template.html" %}
    </div>
  
    {% endif %}

    
     
    {% if set_page_thumbnail_header_form %}
     
    <div class="col-md-12">
        {% include "core/includes/page-thumbnail-header-app/template.html" %}

    </div>
  
    {% endif %}
    
     
      {% if logs %}
      
      <div class="col-md-12">
            {% include 'log/includes/logs-app/template.html' %}
      </div>
      {% endif %}
    

</div>
{% endblock content %}


{% block script %}
{% include "accounting/includes/person-account-app/script.html" %} 

    {% if add_bank_account_form %}
     
        {% include "accounting/includes/add-bank-account-app/script.html" %}
  
    {% endif %} 
    
    
      {% if logs %}
       
            {% include 'log/includes/logs-app/script.html' %}
 
      {% endif %}

{% endblock script %}