{% extends "accounting/layout.html" %}


{% block content %}
<div class="row rtl farsi">
       <div class="col-md-6">
        {% include "accounting/includes/person-app/card.html" %}
       </div>
   {% if add_person_account_form %}
     
    <div class="col-md-12">
        {% include "accounting/includes/add-person-account-app/template.html" %}
    </div>
  
    {% endif %}

  <div class="col-md-12">
    {% include "accounting/includes/financial-document-lines-app/template.html" %}
  </div>
    
   {% if add_bank_account_form %}
     
    <div class="col-md-12">
        {% include "accounting/includes/add-bank-account-app/template.html" %}
    </div>
  
    {% endif %}

     
   <div class="col-md-12">
     {% include 'accounting/includes/person-accounts-app/template.html' %}
   </div>
   <div class="col-md-12">
     {% include 'accounting/includes/bank-accounts-app/template.html' %}
   </div>


</div>
{% endblock content %}


{% block script %}
     {% include 'accounting/includes/bank-accounts-app/script.html' %}
     {% include 'accounting/includes/person-accounts-app/script.html' %}
   {% if add_person_account_form %}
     
        {% include "accounting/includes/add-person-account-app/script.html" %}
  
    {% endif %}

      {% if add_bank_account_form %}
     
        {% include "accounting/includes/add-bank-account-app/script.html" %}
  
    {% endif %}
    {% include "accounting/includes/financial-document-lines-app/script.html" %}
     
{% endblock script %}