{% include "accounting/includes/account-app/select-script.html" %}
<script>
  let add_course_app = new Vue({
    el: "#add-course-app",
    data: {
    title: "",
    supplier_id: 0,
    message:{show:false},
    
    event_date: current_date,
    event_time: "00:00:00",
    event_datetime: current_datetime,
    },
    components: {
      DatePicker: VuePersianDatetimePicker,
    },
    methods: {
      
      

      to_price: function (vall) {
        return to_price(vall) + " {{CURRENCY}}";
      },

     
      add_course: function () {
        let payload = {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          title: add_course_app.title,
          supplier_id: parseInt(add_course_app.supplier_id),
          event_datetime: add_course_app.event_date+" "+add_course_app.event_time,
        };

        console.log(payload);
        let url = "{% url 'academy:add_course' %}"
        let posting = $.post(url, payload);
        posting.done((data) => {
          console.log(data);
          if (data.result === "SUCCEED") {
            show_message(add_course_app,'موفق',data.message,'success',1000)
            if (typeof courses_app != "undefined") {
              courses_app.courses.push(data.course);
            }
          }
          else{

            show_message(add_course_app,'خطا',data.message,'danger',1000)
          }
        });
      },
    },
  });
</script>
