{% load static %}

<meta charset="utf-8">
{% if not NOT_REPONSIVE %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}
<title>{{title}}  </title>
<link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet">



{% if farsi_font_name %}
<link href="{{STATIC_URL}}leo/css/font-farsi-{{farsi_font_name}}.css" rel="stylesheet">
{% else %}
<link href="{% static 'leo/css/font-farsi.css' %}" rel="stylesheet">
{% endif %}

<link href="{% static 'leo/css/style.css' %}" rel="stylesheet">
<meta name="csrf_token" content="{{ csrf_token }}">


<link href="{% static 'vendor/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/css/material-icons.css' %}" rel="stylesheet">

<link href="{% static 'vendor/css/font-awesome.all.min.css' %}" rel="stylesheet">

{% if page.meta_data %}

<meta name="meta_data" content="{{page.meta_data}}">
{% endif %}

{% block head %}

{% endblock head %}