<div id="accordion-customers">
  <div class="card" id="customers-app">
    <div class="card-header" id="heading-customers">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-customers"
          aria-expanded="true"
          aria-controls="collapse-customers"
        >
          مشتریان

          <span v-if="customers.length>0">
            <small class="text-danger mx-2">
              <span v-text="customers.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-customers"
      class="collapse {% if expand_customers %} show{% endif %}"
      aria-labelledby="heading-customers"
      data-parent="#accordion-customers"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped rtl">
            <thead>
              <th>مشتری</th>
              <th>منطقه</th>
              <th>گروه ها</th>
              <th>مانده</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="customer in customers">
                <td>
                  <div class="media">
                    <a :href="customer.get_absolute_url">
                      <img
                        width="48"
                        class="rounded"
                        :src="customer.person_account.person.image"
                        alt=""
                      />
                    </a>
                    <div class="media-body mr-2">
                      <a :href="customer.get_absolute_url">
                        <h6
                          v-text="customer.person_account.title"
                        ></h6>
                      </a> 
                    </div>
                  </div>
                </td>

                <td>
                
                  <div v-for="region in customer.regions">
                    <a :href="region.get_absolute_url">
                      <span v-text="region.full_name"></span>
                    </a>
                  </div>

                </td>

                 <td>
                
                  <span class="ml-2" v-for="group in customer.groups">
                    <span :class="'badge badge-'+group.color">
                      <span v-text="group.name"></span>
                    </span>
                  </span>

                </td>


                <td>
                  <span
                    v-text="to_price(customer.person_account.balance)"
                  ></span>
                  {{CURRENCY }}
                </td>
                <td>
                  {% if perms.market.change_customer %}
                  <a
                    target="_blank"
                    :href="customer.get_edit_url"
                    title="ویرایش"
                  >
                    <i class="fa fa-edit text-warning"></i>
                  </a>
                  {% endif %} {% if perms.market.delete_customer %}
                  <a
                    target="_blank"
                    :href="customer.get_delete_url"
                    title="حذف"
                  >
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
