<div id="accordion-customers">
  <div class="card" id="customers-app">
    <div class="card-header" id="heading-customers">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-customers"
          aria-expanded="true"
          aria-controls="collapse-customers"
        >
          مشتریان

          
          <span v-if="customers.length>0">
            <small class="text-danger mx-2">
              <span v-text="customers.length"></span>
            </small>
          </span>
        </button>
      </h5>
    </div>

    <div
      id="collapse-customers"
      class="collapse {% if expand_customers %} show{% endif %}"
      aria-labelledby="heading-customers"
      data-parent="#accordion-customers"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped rtl">
            <thead>
              <th>مشتری</th>
              <th>سطح</th>
              <th>مانده</th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="customer in customers">
                <td>
                  <a :href="customer.get_absolute_url">
                    <span
                      v-text="customer.person_account.person.full_name"
                    ></span>
                  </a>
                </td>

                <td>
                  <span v-text="customer.level"></span>
                </td>

                <td>
                  <span v-text="to_price(customer.person_account.balance)"></span> {{CURRENCY    }}
                </td>
                <td>
                  {% if perms.market.change_customer %}
                  <a
                    target="_blank"
                    :href="customer.get_edit_url"
                    title="ویرایش"
                  >
                    <i class="fa fa-edit text-warning"></i>
                  </a>
                  {% endif %} {% if perms.market.delete_customer %}
                  <a
                    target="_blank"
                    :href="customer.get_delete_url"
                    title="حذف"
                  >
                    <i class="fa fa-trash text-danger"></i>
                  </a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
