<div id="accordion-add-invoice-warehouse-sheets" class="rtl text-right farsi">
  <div class="card" id="add-invoice-warehouse-sheets-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-invoice-warehouse-sheets"
          aria-expanded="true"
          aria-controls="collapse-add-invoice-warehouse-sheets"
        >
          افزودن برگه های انبار برای فاکتور
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-invoice-warehouse-sheets"
      class="collapse"
      aria-labelledby="heading-add-invoice-warehouse-sheets"
      data-parent="#accordion-add-invoice-warehouse-sheets"
    >
      <div class="card-body">
        <div class="row rtl">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">توضیحات</label>
              <input v-model="description" type="text" class="form-control" />
            </div>
          </div>
            
          <div class="col-md-6"> 
                <div class="form-group">
                  <label for="warehouse_id">انبار</label>
                  
                  <select v-model="warehouse_id" class="form-control" id="">
                    {% for warehouse in warehouses_for_add_invoice_warehouse_sheets_app %}
                    <option value="{{warehouse.id}}">{{warehouse.name}}</option> 
                    {% endfor %}
                  </select>
 
                </div> 

               
          </div> 
          <div class="col-md-6">
            <div class="form-group">
              <label for="">واحد درخواست کننده</label>
              <select v-model="organizational_unit_id" class="form-control" id="">
                {% for organizational_unit in organizational_units_for_add_invoice_warehouse_sheets_app %}
                <option value="{{organizational_unit.id}}">{{organizational_unit.title}}</option> 
                {% endfor %}
              </select>
            </div>
          </div>
           

          <div class="col-md-4">
            <div class="form-group">
              <label for="">جهت</label>
              <select v-model="direction" type="text" class="form-control">
                {% for direction in directions_for_add_invoice_warehouse_sheets_app %}

                <option value="{{direction}}">{{direction}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=""> وضعیت </label>
              <select class="form-control" v-model="status" >
                  {% for status in statuses_for_add_warehouse_sheet_app %}
                    
                  <option value="{{status}}">{{status}}</option>
                  {% endfor %}
                </select>

              
            </div>
          </div>
          

          
          <div class="col-md-4">
            <div class="form-group">
              <label for=""> نوع حواله انبار </label>
              <select class="form-control" v-model="type" >
                  {% for type in types_for_add_warehouse_sheet_app %}
                    
                  <option value="{{type}}">{{type}}</option>
                  {% endfor %}
                </select>

            
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="form-group">
              <label for="">قفسه</label>
              <input v-model="shelf" type="text" class="form-control" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="">ردیف</label>
              <input v-model="row" type="text" class="form-control" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="">ستون</label>
              <input v-model="col" type="text" class="form-control" />
            </div>
          </div>

          <div class="col-md-12 mt-2" v-if="message.show">
            <div :class="'alert alert-'+message.color">
              <div class="rtl text-right">
                <h5 v-html="message.title"></h5>
                <span v-html="message.body"></span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <button class="btn btn-success" @click="add_invoice_warehouse_sheets()">
              <i class="fa fa-plus"></i>
              افزودن
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
