{% load static %}
<div id="accordion-add-oil-service-form" class="rtl text-right farsi">
  <div class="card" id="add-oil-service-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-oil-service-form"
          aria-expanded="true"
          aria-controls="collapse-add-oil-service-form"
        >
افزودن سرویس روغن
 
 
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-oil-service-form"
      class="collapse  "
      aria-labelledby="heading-add-oil-service-form"
      data-parent="#accordion-add-oil-service-form"
    >
      <div class="card-body">
      <div class="row">
        
        <div class="col-md-12">
          <hr />
        </div>

        <div class="col-md-4">

          <div class="form-group">
            <label for="">نوع روغن</label>
            <select v-model="oil_type" type="text" class="form-control">
              {% for oil_type in oil_types %}
              <option value="{{oil_type}}">{{oil_type}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">نوع سرویس</label>
            <select v-model="oil_action" type="text" class="form-control"> 
              {% for oil_action in oil_actions %}
              <option value="{{oil_action}}">{{oil_action}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputDate">لیتراژ روغن</label>

            <input
              type="number"
              required
              class="form-control"
              v-model="oil_liter"
            />
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="exampleInputDate">ساعت دستگاه</label>

            <input
              type="number"
              required
              class="form-control"
              v-model="vehicle_hour"
            />
          </div>
        </div>
        <div class="md-12">

        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="exampleInputDate">برآورد هزینه</label>
              <span class="mx-2" v-text="to_price(cost)"></span>
              {{CURRENCY}}
            <input
              type="number"
              required
              class="form-control"
              v-model="cost"
            />
          </div>
        </div>

        <div class="col-md-9">
          <div class="form-group">
            <label for="exampleInputDate">توضیحات</label>

            <input
              type="text"
              required
              class="form-control"
              v-model="description"
            />
          </div>
        </div>

        <div class="col-md-12"></div>
        <div class="col-md-3 my-3">
          <div v-if="!confirm_clear_oils">
            <button class="btn btn-success" @click="add_oil()">
              <i class="fa fa-plus mx-2"></i>
              افزودن سرویس روغن
            </button>
          </div>

          <div v-if="!confirm_clear_oils" class="mt-2">
            <button class="btn btn-danger" @click="confirm_clear_oils=true">
              <i class="fa fa-plus mx-2"></i>
              حذف همه
            </button>
          </div>
          <div v-if="confirm_clear_oils">
            <h5>همه خدمات روغن حذف شوند؟</h5>
            <button class="btn btn-danger" @click="clear_oils()">
              <i class="fa fa-plus mx-2"></i>

              حذف کن
            </button>

            <button class="btn btn-secondary" @click="confirm_clear_oils=false">
              <i class="fa fa-plus mx-2"></i>

              خیر
            </button>
          </div>
        </div>
         
      </div>
        
      </div>
    </div>
  </div>
</div>
