{% include "accounting/includes/invoice-line-item-app/card-contents.html" %}
<h5>
  <a href="{% url 'accounting:product' pk=product.id %}">
    کالا : {{product.title}}
  </a>
</h5>

<h5>
  <a href="{{product.get_market_absolute_url}}">
    فروشگاه  
  </a>
</h5>

{% if product.brand %}
  
<h5>
  برند : 
  <a href="{% url 'accounting:brand' pk=product.brand.id %}">
    {{product.brand}}
  </a>
</h5>

{% endif %}


  
<h5>
  نقطه سفارش : 
    {{product.rop}}
</h5>

{% if product.model %}
  
<h5>
  مدل : {{product.model}}
</h5>
{% endif %}


{% if product.barcode %}
  
<h5>
  بارکد : {{product.barcode}}
  
</h5>
{% endif %}

{% for spec in product.productspecification_set.all %}
<div>
  {{spec.name}} : {{spec.value}}
</div>
{% endfor %}
