<script>
    select_product_by_barcode = function (product_barcode) {
        let payload2 = { csrfmiddlewaretoken: csrfmiddlewaretoken, barcode: product_barcode  }
        console.log(payload2)
        return $.post("{% url 'accounting:select_product' %}", payload2)
    }
</script><script>
    select_product_by_id = function (product_id) {
        let payload2 = { csrfmiddlewaretoken: csrfmiddlewaretoken, id: product_id  }
        console.log(payload2)
        return $.post("{% url 'accounting:select_product' %}", payload2)
    }
</script>

<script>
    select_product_by_title = function (search_for) {
        let payload2 = { csrfmiddlewaretoken: csrfmiddlewaretoken, search_for: search_for  }
        console.log(payload2)
        return $.post("{% url 'accounting:select_product' %}", payload2)
    }
</script>