{% extends "market/layout.html" %} {% block content %}
<div class="row rtl farsi">
   
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h6>{{shipper.person_account.person.full_name}}</h6>
      </div>
      <div class="card-body">
        <img src="{{shipper.person_account.person.image}}" width="64" class="mb-2" alt="">
        <h5>
         {{shipper.person_account.name}}
        </h5>
        {% for region in shipper.regions.all %}
          <h6>
            {{region.get_breadcrumb|safe}}
          </h6>
          
        {% endfor %}
        {% if shipper.person_account %}
        <h6>
          <small class="text-muted">
            حساب
            :
          </small>
          <a href="{{shipper.person_account.get_absolute_url}}">
            {{shipper.person_account.name}}
          </a>
        </h6>
        {% endif %}
           

                 <h6>
                    <small class="text-muted">
                    شخص :

                    </small>
                    <a href="{{shipper.person_account.person.get_absolute_url}}">

                      {{shipper.person_account.title}}
                    </a>

                </h6>

        {% if perms.market.change_shipper %}
        <a
          href="{{shipper.get_edit_url}}"
          class="my-2 text-warning mx-2"
          title="ویرایش"
          target="_blank"
        >
          <i class="fa fa-edit text-warning"></i> ویرایش
        </a>
        {% endif %}
        
        {% if perms.market.delete_shipper %}
           

        <a
          href="{{shipper.get_delete_url}}"
          class="my-2 text-danger mx-2"
          title="ویرایش"
          target="_blank"
        >
          <i class="fa fa-trash text-danger"></i> حذف
        </a>
        {% endif %}
      </div>
    </div>
  </div>
   <div class="col-md-7">
<div class="card">
  <div class="card-header">
    <h6>
      حمل کننده
    </h6>
  </div>
  <div class="card-body">
    <h6>

      فروشگاه های طرف قرارداد این حمل کننده
    </h6>
    {% for supplier in shipper.suppliers.all %}
    <div class="media mb-2">
<img src="{{supplier.person_account.person.image}}" alt="" width="48">
<div class="media-body">

  <a href="{{supplier.get_absolute_url}}">
    {{supplier.person_account.title}}
  </a>
</div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
   </div>
  
</div>
{% endblock content %} {% block script %}
<script></script>
 

{% endblock script %}
