{% extends "market/layout.html" %} {% block content %}
<div class="row rtl farsi">
  <div class="col-md-4">
    {% include "authentication/includes/person-app/card.html" %}
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h6>{{supplier.person.full_name}}</h6>
      </div>
      <div class="card-body">
        <h5>
         {{supplier.person_account.name}}
        </h5>
        <h6 >
        <a href="{{supplier.region.get_absolute_url}}">

          {{supplier.region.name}}|
          {{supplier.region.city.name}}
        </a>
        </h6>
        {% if supplier.person_account %}
        <h6>
          <small class="text-muted">
            حساب
            :
          </small>
          <a href="{{supplier.person_account.get_absolute_url}}">
            {{supplier.person_account.name}}
          </a>
        </h6>
        {% endif %}
           <h6>
                    <small class="text-muted">
                    سطح :

                    </small>
                    {{supplier.level}}

                </h6>

                 <h6>
                    <small class="text-muted">
                    شخص :

                    </small>
                    <a href="{{supplier.person_account.person.get_absolute_url}}">

                      {{supplier.person_account.person.full_name}}
                    </a>

                </h6>

        {% if perms.market.change_supplier %}
        <a
          href="{{supplier.get_edit_url}}"
          class="my-2 text-warning mx-2"
          title="ویرایش"
          target="_blank"
        >
          <i class="fa fa-edit text-warning"></i> ویرایش
        </a>
        {% endif %}
        
        {% if perms.market.delete_supplier %}
          {% if perms.market.change_supplier %}
         <a href="{% url 'authentication:login_as' pk=person.id %}" title="ورود"
       class="mx-2 text-info"><i class="fa fa-key text-success" aria-hidden="true"></i>ورود</a>
        {% endif %}

        <a
          href="{{supplier.get_delete_url}}"
          class="my-2 text-danger mx-2"
          title="ویرایش"
          target="_blank"
        >
          <i class="fa fa-trash text-danger"></i> حذف
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-12">
    {% include "market/includes/shops-app/template.html" %}
  </div>
  <div class="col-md-12">
    {% include "market/includes/shop-packages-app/template.html" %}
  </div>
  
</div>
{% endblock content %} {% block script %}
<script></script>

{% include "market/includes/shops-app/script.html" %}
{% include "market/includes/shop-packages-app/script.html" %} 

{% endblock script %}
