
{% extends "cafe/layout.html" %}
{% load static %}
{% block content %}
<div class="row rtl farsi">
    {% if add_table_form %}
      <div class="col-md-12">
          {% include "cafe/includes/add-table-app/template.html" %}

      </div>
    {% endif %}
    <div class="col-md-12">

        
        {% include "cafe/includes/tables-app/template.html" %}
    </div>

</div>
{% endblock content %}


{% block script %}
{% include "cafe/includes/tables-app/script.html" %}
{% if add_table_form %}
{% include "cafe/includes/add-table-app/script.html" %}
{% endif %}
{% endblock script %}