{% extends "cafe/layout.html" %} {% load static %} {% block content %}
<div class="row rtl farsi">
  {% if table_customer %}
    
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-header">
        <h4>مشتری</h4>
      </div>
      <div class="card-body"> 
        {{customer.title}}

 
      </div>
    </div>
  </div>

  {% endif %}

  
  <div class="col-md-4 col-lg-3 text-center my-3">
    <div class="card">
      <div class="card-header">
        <h4>میز</h4>
      </div>
      <div class="card-body"> 
        <div class="text-center">

          <img
          src="{% static 'cafe/img/table.png' %}"
          width="64em"
          class="mb-2"
          alt=""
          />
        </div>
          <h6 class="text-center">میز 
            <a href="{{table.get_absolute_url}}">
            
              {{table.title}}
            </a>
            </h6>

             <div class=""> 
               
            <a href="">
            
              {{table.title}}
            </a>
            </div>

          <h6 class="text-center">شماره {{table.table_no}}</h6>
          
          <h6 class="text-center">
            فروشنده
            <a href="{{table.supplier.get_absolute_url}}">
              {{table.supplier.title}}
            </a>
           
            </h6>

 
      </div>
    </div>
  </div>

  <div class="col-md-8">
    {% include "cafe/includes/orders-app/template.html" %}
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  console.log("name1: {{name1}}");
  console.log("name2: {{name2}}");
  console.log("name3: {{name3}}");
</script>
    {% include "cafe/includes/orders-app/script.html" %}

{% endblock script %}
