<script>
    let page_id=parseInt("{{page.id}}")
</script>
{% include "attachments/includes/page-like-app/script.html" %}

{% include "core/includes/page-thumbnail-header-app/script.html" %}

{% include "attachments/includes/tags-app/script.html" %}
{% include "attachments/includes/comments-app/script.html" %}
{% include "attachments/includes/links-app/script.html" %}
{% include "attachments/includes/images-app/script.html" %}
{% include "attachments/includes/downloads-app/script.html" %}
{% include "attachments/includes/locations-app/script.html" %}
{% include "attachments/includes/page-prints-app/script.html" %}
{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-priority-app/script.html" %}
