{% load static %}


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>

<script src="{{STATIC_URL}}phoenix-theme/vendors/popper/popper.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/anchorjs/anchor.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/is/is.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/fontawesome/all.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/lodash/lodash.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/list.js/list.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/feather-icons/feather.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/dayjs/dayjs.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/leaflet/leaflet.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/assets/js/phoenix.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/vendors/echarts/echarts.min.js"></script>
<script src="{{STATIC_URL}}phoenix-theme/assets/js/dashboards/ecommerce-dashboard.js"></script>


 
<script src="{% static 'utility/js/utility.js' %}"></script>
<script src="{% static 'utility/js/message.js' %}"></script>
<script>
  let DEBUG = false;
</script>
{% if DEBUG %}
<script>
    DEBUG=true
</script>
<script src="{% static 'vendor/js/vue.js' %}"></script>

{% else %}
<script>
    DEBUG=false
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>

{% endif %}


<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>


<script>
  let CURRENCY = "{{CURRENCY}}";
  let current_datetime = "{{current_datetime}}";
  let current_date = "{{current_date}}";
  let current_time = "{{current_time}}";
  function leolog(data) {
    if (DEBUG) {
      console.log(data);
    }
  }
</script>

{% if me_person %}

<script>
  var csrfmiddlewaretoken = "";
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    let csrfmiddlewaretoken_input=$("input[name='csrfmiddlewaretoken']")
    if(typeof csrfmiddlewaretoken_input != "undefined"){
        
        csrfmiddlewaretoken = csrfmiddlewaretoken_input.val();
    }
    
    let notification_devider=$(".notification-divider:last")
    if(typeof notification_devider != "undefined"){
        
        notification_devider.addClass("d-none");
    }

    
    $('div').addClass(' farsi ')
    $('button').addClass(' farsi ')
    $('.form-control').addClass(' farsi ')
    $('.form-select').addClass(' farsi ')
    $('label').addClass(' farsi ')
  });
</script>


 
 
<script>
  let me_person = JSON.parse(`{{me_person_s|escapejs}}`);
</script>
{% endif %}