<div id="accordion-add-ticket" class="rtl text-right farsi">
  <div class="card" id="add-ticket-app">
    <div class="card-header">
      <h5 class="text-center">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse-add-ticket"
          aria-expanded="true"
          aria-controls="collapse-add-ticket"
        >
          افزودن تیکت
        </button>
      </h5>
    </div>

    <div
      id="collapse-add-ticket"
      class="collapse"
      aria-labelledby="heading-add-ticket"
      data-parent="#accordion-add-ticket"
    >
      <div class="card-body">
        <form @submit.prevent="add_ticket()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">عنوان</label>
                <input v-model="title" type="text" class="form-control" />
              </div>
            </div>

            
            <div class="col-md-12">
              <div class="form-group">
                <label for="">توضیحات</label>
                <input v-model="description" type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12">
              <div class="row rtl">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">شناسه شخص</label>
                    <input
                      type="number"
                      class="form-control"
                      @input="select_person()"
                      v-model="person_id"
                    />
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group" v-if="person.full_name">
                    <label for="" class="text-success">شخص انتخاب شده</label>

                    <a :href="person.get_absolute_url">
                      <div class="media">
                        <img :src="person.image" width="64" alt="" />
                        <div class="media-body mr-2">
                          <h5>
                            <span v-text="person.full_name"></span>
                          </h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div v-else>
                    <div class="form-group">
                      <label for="" class="text-danger">خطا</label>
                      <div class="alert alert-danger">شخص انتخاب نشده است.</div>
                      <a
                        target="_blank"
                        href="{% url 'authentication:persons' %}"
                        >همه اشخاص</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="col-12">
              <div class="row rtl">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">شناسه پروژه</label>
                    <input
                      type="number"
                      class="form-control"
                      @input="select_project()"
                      v-model="project_id"
                    />
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group" v-if="project.title">
                    <label for="" class="text-success">پروژه انتخاب شده</label>

                    <a :href="project.get_absolute_url">
                      <div class="media">
                        <img :src="project.thumbnail" width="64" alt="" />
                        <div class="media-body mr-2">
                          <h5>
                            <span v-text="project.title"></span>
                          </h5>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div v-else>
                    <div class="form-group">
                      <label for="" class="text-danger">خطا</label>
                      <div class="alert alert-danger">پروژه انتخاب نشده است.</div>
                      <a
                        target="_blank"
                        href="{% url 'projectmanager:all_projects' %}"
                        >همه پروژه ها</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputDate">تاریخ</label>
                <date-picker v-model="event_date"></date-picker>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="event_date"
                />
                <label for="exampleInputDate">زمان</label>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="event_time"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputDate">شروع</label>
                <date-picker v-model="start_date"></date-picker>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="start_date"
                />
                <label for="exampleInputDate">زمان</label>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="start_time"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputDate">پایان</label>
                <date-picker v-model="end_date"></date-picker>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="end_date"
                />
                <label for="exampleInputDate">زمان</label>

                <input
                  type="text"
                  required
                  class="form-control"
                  v-model="end_time"
                />
              </div>
            </div>

            <div class="col-md-12">
              <div v-if="message.show">
                <div :class="'my-2 alert alert-'+message.color">
                  <h5 v-text="message.title"></h5>
                  <div v-html="message.body"></div>
                </div>
              </div>

              <button class="btn btn-success" type="submit">
                <i class="fa fa-plus"></i>
                افزودن
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
