{% extends "core/layout.html" %}
{% block content %}
<div class="row rtl farsi">
    <div class="col-md-12">
        <div class="card">
            
            <div class="card-body">
                
                <div class="alert alert-{{color}}">
                    {% if fa_icon %}
                      <div>
                        <i class="fa {{fa_icon}}"></i>
                      </div>
                    {% endif %}
                    {% if message %}
                      
                    <h3>
                        {{message.title}}
                        
                    </h3>
                    {% endif %}
                    {% if title %}
                      
                    <h3>
                        {{title}}
                        
                    </h3>
                    {% endif %}
                    {% if body %}
                    {{body}}
                      
                    {% endif %}
                    {% if message %}
                      
                    {{message.body}}
                    {% endif %}

                </div>
                {% for link in links %}

                <a class="btn btn-{{link.color}}" href="{{link.url}}">
                    {{link.title}}
                </a>
                {% endfor %}
                {% if back_url %}
                  
                <a class="btn btn-primary" href="{{back_url}}">بازگشت</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    console.log("name1: {{name1}}")
    console.log("name2: {{name2}}")
    console.log("name3: {{name3}}")
</script>
{% endblock script %}